{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>reading
                <a href="/reading/evaluate" class="btn btn-primary btn-sm float-right " onclick="return confirm('Are you sure to re evaluate study plan?')">Evaluate study plan</a></h5>
        </div>
    </div>
    <div class=" mb-3">
        
        <div class="card-group">
            <div class="card mb-3 " style="background-color: #e3f2fd">
                <div class="card-header">Improvement Plan </div>
                <div class="card-body ">
                    <h5 class="card-title text-danger">{{ data.study_plan }}</h5>
					<!-- display study plans-->
                    <p class="card-text">This is the your Improvement plan</p>
                </div>
            </div>
            <div class="card mb-3 " style="background-color: #e3f2fd">
                <div class="card-header">Weak section</div>
                <div class="card-body ">
                    <h5 class="card-title text-danger">{{data.weak_section}}</h5>
                    <p class="card-text">You need to pay more attention this section/sections</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 bg-info">
        <div class="card-header text-light">
            <h5>User Improvement Plan</h5>
          </div>
        <div class="mt-1">
            <div class="card-body">
              <h6 class="card-text text-light">Improvment plan</h6>
                  <div class="card" id="plan">
                  </div>
            </div>
        <div class="list-group" style="display:none" id="p1">
            <a href="/reading/plan0" class="list-group-item list-group-item-action">reading stage 1
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">reading stage 1
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">reading stage 1
                Let's improve your Reading for detail skills</a>
        </div>
        <div class="list-group" style="display:none" id="p2">
              <a href="/reading/plan25" class="list-group-item list-group-item-action">reading stage 2
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main25" class="list-group-item list-group-item-action">reading stage 2
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">reading stage 2
                Let's improve your Reading for detail skills</a>
        </div>
        <div class="list-group" style="display:none" id="p3">
              <a href="/reading/plan50" class="list-group-item list-group-item-action">reading stage 3
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">reading stage 3
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail50" class="list-group-item list-group-item-action">reading stage 3
                Let's improve your Reading for detail skills</a>
        </div>
        <div class="list-group" style="display:none" id="p4">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">reading stage 4
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">reading stage 4
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail50" class="list-group-item list-group-item-action">reading stage 4
                Let's improve your Reading for detail skills</a>
        </div>
        <div class="list-group" style="display:none" id="p5">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">reading stage 5
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">reading stage 5
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail100" class="list-group-item list-group-item-action">reading stage 5
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p6">
            <a href="/reading/plan0" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main25" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p7">
            <a href="/reading/plan0" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p8">
            <a href="/reading/plan0" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main75" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		   <div class="list-group" style="display:none" id="p9">
            <a href="/reading/plan0" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p10">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p11">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main25" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p12">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p13">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main75" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p14">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p15">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p16">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main25" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p17">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p18">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main75" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p19">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p20">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p21">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main25" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p22">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		  <div class="list-group" style="display:none" id="p23">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main75" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p24">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p25">
            <a href="/reading/plan0" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p26">
            <a href="/reading/plan0" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail50" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p27">
            <a href="/reading/plan0" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail75" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p28">
            <a href="/reading/plan0" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail00" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p29">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main25" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p30">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main25" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detai25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p31">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main25" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail50" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p32">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main25" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail100" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p33">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p34">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p35">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detai50" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p36">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail75" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p37">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail00" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p38">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p39">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p40">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail50" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p41">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail75" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p42">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail100" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p43">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p44">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail50" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p45">
            <a href="/reading/plan75" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail75" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p46">
            <a href="/reading/plan100" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main0" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail100" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p47">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p48">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main75" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p49">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p50">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p51">
            <a href="/reading/plan50" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail50" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p52">
            <a href="/reading/plan75" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main100" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail75" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p53">
            <a href="/reading/plan75" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main75" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail0" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p54">
            <a href="/reading/plan75" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main75" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p55">
            <a href="/reading/plan75" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main75" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail50" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p56">
            <a href="/reading/plan25" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main50" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail25" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
		
		 <div class="list-group" style="display:none" id="p57">
            <a href="/reading/plan75" class="list-group-item list-group-item-action">
                Let's improve your comprehension skills</a>
            <a href="/reading/plan_main75" class="list-group-item list-group-item-action">
                Let's improve your Reading for main idea skills</a>
            <a href="/reading/plan_detail100" class="list-group-item list-group-item-action">
                Let's improve your Reading for detail skills</a>
        </div>
    </div>

</div>
</body>
<script>
    var studyPlan = '{{data.study_plan_no}}';
    for (var i = 1; i < 58; i++) {
        plans = "p" + i;
        if (studyPlan == i) {
            document.getElementById('plan').innerHTML = document.getElementById(plans).innerHTML;
        }
    }
</script>
{% endblock content %}