<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/test_paper.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<body>
  <div class="container mt-3">
    <div class="card mb-3 sticky-top">
      <div class="card-header">
        <h5>Listening
          <p class="float-right" style="font-weight: bold" id="quiz-time-left"></p>
        </h5>
      </div>
    </div>
    <div class="card mt-3 mb-3">
      <div class="card-header">

        <h6>SECTION 3 &nbsp&nbsp&nbsp&nbsp<i>Question 21-30</i></h6>
      </div><br><br>
      <div class="audio_file">
        <audio controls>
          <source src="/static/listening_audio/IELTS13_Test1_03.mp3" type="audio/mpeg">
        </audio>
      </div>
      <div class="card-body">
        <h6 class="card-title">
          <br><i>Question 21-25</i><br>
          <i>Choose the correct letter <b> A,B or C</b></i><br>
        </h6>
        <form action="/listening/section3" method="post" id="section3_form">
          <p><b>21</b> Why is Jack interested in investigation seed germination?
          </p>
          <label>A</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="a" name="q21" value="a">
          <label for="q21">He may do a module on a related topic later on</label><br>
          <label>B</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="b" name="q21" value="b">
          <label for="q21">He wants to have a career in plant science</label><br>
          <label>C</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="c" name="q21" value="c">
          <label for="q21">He is thinking of choosing this topic for his dissertation</label><br>
          <input type="hidden" id="q021" name="q021" value="">

          <p><b>22</b> Jack and Emma agree the main advantage of their present experiment is that it can be
          </p>
          <label>A</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="a" name="q22" value="a">
          <label for="q22">described very easily</label><br>
          <label>B</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="b" name="q22" value="b">
          <label for="q22">carried out inside the laboratory</label><br>
          <label>C</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="c" name="q22" value="c">
          <label for="q22">completed in the time availble</label><br>
          <input type="hidden" id="q022" name="q022" value="">

          <p><b>23</b> What do they decide to check with their tutor?
          </p>
          <label>A</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="a" name="q23" value="a">
          <label for="q23">whether their aim is appropriate</label><br>
          <label>B</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="b" name="q23" value="b">
          <label for="q23">whether anyone else has chosen this topic</label><br>
          <label>C</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="c" name="q23" value="c">
          <label for="q23">whether the assignment contributes to their final grade</label><br>
          <input type="hidden" id="q023" name="q023" value="">

          <p><b>24</b> They agree that Graves'book on seed germination is disappointing because
          </p>
          <label>A</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="a" name="q24" value="a">
          <label for="q24">it fails to cover recent advances in seed science</label><br>
          <label>B</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="b" name="q24" value="b">
          <label for="q24">the content is irrelevant for them</label><br>
          <label>C</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="c" name="q24" value="c">
          <label for="q24">its focus is very theorical</label><br>
          <input type="hidden" id="q024" name="q024" value="">
          <p><b>25</b> What does Jack say about the article on seed germination by Lee Hail?
          </p>
          <label>A</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="a" name="q25" value="a">
          <label for="q25">The diagrams of plant development are useful</label><br>
          <label>B</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="b" name="q25" value="b">
          <label for="q25">The analysis of seed germination statics is through</label><br>
          <label>C</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="c" name="q25" value="c">
          <label for="q25">The finding on seed germination after fires are surpricing</label><br>
          <input type="hidden" id="q025" name="q025" value="">

      </div><!-- end of type 2-->
      <div class="type4">
        <br>
        <table class="tbtype4box table1">
          <tr>
            <td><b>A</b>&nbsp&nbsp container</td>
            <td><b>B</b>&nbsp&nbsp soil</td>
            <td><b>C</b>&nbsp&nbsp weight</td>
            <td><b>D</b>&nbsp&nbsp condition</td>
          </tr>
          <tr>
            <td><b>E</b>&nbsp&nbsp height</td>
            <td><b>F</b>&nbsp&nbsp colour</td>
            <td><b>G</b>&nbsp&nbsp types</td>
            <td><b>H</b>&nbsp&nbsp depths</td>
          </tr>

        </table>
        <br>
        <h3 class="table1 h3_1">Srages in the experiment</h3><br>
        <table class="tbtype4flow table1">
          <tr>
            <td class="tbtype4td">
              <p>Selcect seeds of differnt <b>26</b> <input type="text" name="q26" id="q26">&nbsp&nbsp and sizes.</p>
            </td>
          </tr>
          <tr>
            <td><span>&#8595;</span></td>
          </tr>
          <tr>
            <td class="tbtype4td">
              <p>Measure and record the <b>27</b><input type="text" name="q27" id="q27">&nbsp&nbsp and size of each one.
              </p>
            </td>
          </tr>
          <tr>
            <td><span>&#8595;</span></td>
          </tr>
          <tr>
            <td class="tbtype4td">
              <p>Decide on the <b>28</b><input type="text" name="q28" id="q28">&nbsp&nbsp to be used.</p>
            </td>
          </tr>
          <tr>
            <td><span>&#8595;</span></td>
          </tr>
          <tr>
            <td class="tbtype4td">
              <p>Use a different <b>29</b><input type="text" name="q29" id="q29">&nbsp&nbsp for each seed and label it.
              </p>
            </td>
          </tr>
          <tr>
            <td><span>&#8595;</span></td>
          </tr>
          <tr>
            <td class="tbtype4td">
              <p>After about 3 weeks, record the plant's <b>30</b><input type="text" name="q30" id="q30">&nbsp&nbsp</p>
            </td>
          </tr>
          <tr>
            <td><span>&#8595;</span></td>
          </tr>
          <tr>
            <td class="tbtype4td">
              <p>Investigate the findings</p>
            </td>
          </tr>
        </table><br><br>
        <div class="card-footer text-muted text-right">
          <input type="submit" value="Save Your answer" onclick="SubmitFunction()" id="section3" name="section3" class="btn btn-primary btn-sm" />
        </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script>
  var div = document.getElementById('quiz-time-left');

  function CountDown(duration, display) {

    var timer = duration, minutes, seconds;

    var interVal = setInterval(function () {
      minutes = parseInt(timer / 60, 10);
      seconds = parseInt(timer % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;
      display.innerHTML = "<b>" + minutes + "m : " + seconds + "s" + "</b>";
      if (timer > 0) {
        --timer;
      } else {
        clearInterval(interVal)
        SubmitFunction();
      }

    }, 1000);

  }

  function SubmitFunction() {
    var i, mcq;
    var form_elements = document.getElementById('section3_form').elements;
    for (i = 21; i < 26; i++) {
      var mcq = form_elements['q' + i].value;
      if (mcq == "") {
        document.getElementById("q0" + i).value = 'not answered';
      }
      else {
        document.getElementById("q0" + i).value = mcq;
      }
    }
    for (i = 26; i < 31; i++) {
      var ans = document.getElementById('q' + i).value;
      if (ans == "") {
        document.getElementById("q" + i).value = 'not answered';
      }
    }
    document.getElementById('section3_form').submit();

  }
  CountDown(600, div);
</script>

</html>