{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Reading</h5>
        </div>
    </div>
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <div class="card-body">
                    <h6 class="card-title">
					<!-- Comprehension skills improvement plan-->
                        <p><strong>High-tech crime-fighting toots</strong>
                        </p>
                    </h6>
                    <p>
                        A.  Crime-fighting technology is getting more sophisticated and rightly so.
                        The police need to be equipped for the 21st century. In Britain we've already got the world's
                        biggest DNA database. By next year the state will have access to the genetic data of 4.25m people: 
                        one British-based person in 14. Hundreds of thousands of those on the database will never have been 
                        charged with a crime.</p>
                    <p> B.  Britain is also reported to have more than £4 million CCTV (closed circuit television) cameras. 
                        There is a continuing debate about the effectiveness of CCTV. Some evidence suggests that it is helpful 
                        in reducing shoplifting and car crime. It has also been used to successfully identify terrorists and murderers. 
                        However, many claim that better lighting is just as effective to prevent crime and that cameras could displace 
                        crime. An internal police report said that only one crime was solved for every 1,000 cameras in London in 2007. 
                        In short, there is conflicting evidence about the effectiveness of cameras, so it is likely that the 
                        debate will continue.</p>
                    <p>
                        C.  Professor Mike Press, who has spent the past decade studying how design can contribute to crime reduction,
                        said that, in order for CCTV to have any effect, it must be used in a targeted way. For example, 
                        a scheme in Manchester records every licence plate at the entrance of a shopping complex and alerts police 
                        when one is found to belong to an untaxed or stolen car. This is an effective example of monitoring, he said. 
                        Most schemes that simply record city centres continually - often not being watched - do not produce results. 
                        CCTV can also have the opposite effect of that intended, by giving citizens a false sense of security and 
                        encouraging them to be careless with property and personal safety. Professor Press said: 'All the evidence 
                        suggests that CCTV alone makes no positive impact on crime reduction and prevention at all. The weight of 
                        evidence would suggest the investment is more or less a waste of money unless you have lots of other things 
                        in place.' He believes that much of the increase is driven by the marketing efforts of security companies who 
                        promote the crime-reducing benefits of their products. He described it as a 'lazy approach to crime prevention' 
                        and said that authorities should instead be focusing on how to alter the environment to reduce crime.</p>
                    <p> D.  But in reality, this is not what is happening. Instead, police are considering using more technology. Police forces 
                        have recently begun experimenting with cameras in their helmets. The footage wilt be stored on police computers, along with 
                        the footage from thousands of CCTV cameras and millions of pictures from numberplate recognition cameras used increasingly to 
                        check up on motorists.</p>
                    <p> E.  And now another type of technology is being introduced. It's called the Microdrone and it's a toy-sized 
                        remote-control craft that hovers above streets or crowds to film what's going on beneath. The Microdrone has 
                        already been used to monitor rock festivals, but its supplier has also been in discussions to supply it to 
                        the Metropolitan Police, and Soca, the Serious Organised Crime Agency. The drones are small enough to be 
                        unnoticed by people on the ground when they are flying at 350ft. They contain high-resolution video 
                        surveillance equipment and an infrared night vision capability, so even in darkness they give their 
                        operators a bird's-eye view of locations while remaining virtually undetectable.</p>
                    <p> F.The worrying thing is, who will get access to this technology? Merseyside police are already employing 
                        two of the devices as part of a pilot scheme to watch football crowds and city parks looking for antisocial 
                        behaviour. It is not just about crime detection: West Midlands fire brigade is about to lease a drone, 
                        for example, to get a better view of fire and flood scenes and aid rescue attempts; the Environment Agency 
                        is considering their use for monitoring of illegal fly tipping and oil spills. The company that makes the 
                        drone says it has no plans to License the equipment to individuals or private companies, which hopefully 
                        will prevent private security firms from getting their hands on them. But what about local authorities? In 
                        theory, this technology could be used against motorists. And where will the surveillance society end? Already 
                        there are plans to introduce 'smart water' containing a unique DNA code identifier that when sprayed on 
                        a suspect will cling to their clothes and skin and allow officers to identify them later. 
                        As long as high-tech tools are being used in the fight against crime and terrorism, fine. But if it's another 
                        weapon to be used to invade our privacy then we don't want it.</p>
</p>


<p><strong>1.</strong> Britain has already got <span id="s1"></span></p>
<ol type="A">
    <li> <input type="radio" name="q1"> four million CCTV cameras.
    </li>
    <li> <input type="radio" name="q1" id="a1"> more data about DNA than any other country.</li>
    <li> <input type="radio" name="q1"> the most sophisticated crime-fighting technology.
        competitive fields.</li>
    <li> <input type="radio" name="q1">access to the genetic data of one in fourteen people living in Britain.</li>
</ol><br />
<p><strong>2.</strong> Professor Press <span
        id="s2"></span></p>
<ol type="A">
    <li> <input type="radio" name="q2"> works at the University of Manchester.</li>
    <li> <input type="radio" name="q2" > studies car-related crime.</li>
    <li> <input type="radio" name="q2" id="a2"> is concerned about the negative impact of the use of CCTV.</li>
    <li> <input type="radio" name="q2"> feels that some marketing departments lie about the crime-reducing benefits of CCTV </li>
</ol><br />
<p><strong>3.</strong> The Microdrone is<span
        id="s3"></span></p>
<ol type="A">
    <li> <input type="radio" name="q3"> a type of toy in the shape of a plane.</li>
    <li> <input type="radio" name="q3"> being used by the Metropolitan Police.</li>
    <li> <input type="radio" name="q3"> being used by the government.</li>
    <li> <input type="radio" name="q3" id="a3"> able to film in the dark.</li>
</ol><br />



<br><!--end of questions-->
<button id="b2" type="button" class="btn btn-outline-info" onclick="toggle()">
    <img height="25px" src="/static/images/show.png" style="vertical-align: middle" />Show answers</button>

	<!-- answers-->
<div id="answers" style="display:none;" class="hint">
    <p><strong>ANSWERS</strong></p>
    <p><strong>stage 2</strong></p>
    <ol start="1">
        <li>B</li>
        <li>C</li>
        <li>D</li>
    </ol>

</div>
</div> <br /> <br />
<div id="result" align="center"> </div>
<div align="center">
&emsp;

<button class="btn btn-primary btn-sm " type="button" onclick="check()">Check</button> &emsp;
<a href="/reading/go_home" class="btn btn-primary btn-sm ">Home</a>

</div>
</body>
<script>
<!-- function declairation for check answers-->
function check() {

var q1, text, text2, score; score = 0;

for (var i = 1; i < 4; i++) {
text = "a" + i; text2 = "s" + i;
if (document.getElementById(text).checked == true) {
document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png"  />';
score++;
}
else { ; document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png"  />'; }
}




setCookie("fourth", score, 3);
document.getElementById("result").innerHTML =
"<div class='result'>Your result for this quiz " + score + "/3 </div>";
}



function setCookie(cname, cvalue, exdays) {
var d = new Date();
d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
var expires = "expires=" + d.toUTCString();
document.cookie = cname + "=" + cvalue + "; " + expires;
}

function getCookie(cname) {
var name = cname + "=";
var ca = document.cookie.split(';');
for (var i = 0; i < ca.length; i++) {
var c = ca[i];
while (c.charAt(0) == ' ') c = c.substring(1);
if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
}
return "";
}



function toggle() {
var e = document.getElementById("answers");
if (e.style.display == 'block') {
document.getElementById("b2").innerHTML = ' <img height="25px" src="/static/images/show.png" style="vertical-align: middle"  /> Show answers';
e.style.display = 'none';
}
else {
document.getElementById("b2").innerHTML = '<img height="25px" src="/static/images/hide.png" style="vertical-align: middle"  /> Hide answers';
e.style.display = 'block';
}
}
</script>
{% endblock content %}