{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Reading</h5>
        </div>
    </div>
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <div class="card-body">
                    <h6 class="card-title">
					 <!-- Comprehension skills improvement plan-->
                        <p><strong>Let’s Improve Your Comprehension skills.</P></strong>
                        <p><strong> Q 1) LIFE WITHOUT DEATH - by Duncan Turner
                            </strong>
                        </p>
                    </h6>
                    <p>
                        Until recently, the thought that there might ever be a cure for ageing seemed preposterous.
                        Growing older and more decrepit appeared to be an inevitable and necessary part of being human.
                        Over the last decade, however, scientists have begun to see ageing differently.
                        Some now believe that the average life-expectancy may soon be pushed up to 160 years;
                        others think that it may be extended to 200 or 300 years. A handful even wonder whether we might
                        one day live for a millennium or more.</p>
                    <p>
                        Behind this new excitement is the theory that the primary cause of ageing lies in highly
                        reactive molecules called free radicals,
                        left behind by the oxygen we breathe. Free radicals react with the molecules in our bodies,
                        damaging DNA, proteins and other cell tissues,
                        and are known to be implicated in diseases as diverse as cataracts,cancer and Alzheimer's.
                        The body does its best to protect itself against free radicals by producing its own chemicals to
                        prevent ageing,
                        such as vitamins E and C, but it is always fighting a losing battle.</p>
                    <p>
                        A year ago Gordon Lithgow of the University of Manchester discovered a way to help combat free
                        radicals. Using one of these anti-ageing chemicals.
                        he managed to increase the lifespan of one species of earthworm by 50 per cent. Despite
                        cautionary words from the scientists,
                        many welcomed this as the first step towards a drug which would extend life. Research involving
                        the mutation of genes has also thrown up fascinating results:
                        after identifying two of the genes that appear to control how long the earthworm lives, similar
                        genes were found in organisms as various as fruit-flies,
                        mice and human beings. When one considers the vast evolutionary distances that separate these
                        species,
                        it suggests that we may have discovered a key to how ageing is regulated throughout the entire
                        animal kingdom.</p>
                    <p>
                        In June last year a small American company called Eukarion sought permission to carry out the
                        first trials of an anti-ageing drug,
                        SCS, on human beings.Although it will initially be used to treat diseases associated with old
                        age, Eukarion said, that 'if the effect of treating diseases
                        of old age is to extend life, everyone's going to be happy.'</p>
                    <p>
                        Some scientists, however, are quick to discourage extravagant speculation.
                        'There is no evidence whatsoever that swallowing any chemical would have an effect on mammals',
                        says Rich Miller of the University of Michigan. 'And those people who claim it might need to go
                        out and do some experimenting'.
                        Some research, moreover, has produced alarming results. As well as controlling ageing,
                        these, genes also partly control the hormones which regulate growth. The upshot of this is that
                        although the lives of mutant mice can be extended by up to 80 per cent, they remain smaller than
                        normal.</p>
                    <p>
                        Quite apart from these sorts of horrors, the ethical implications of extending human lifespan
                        are likely to worry many people.
                        Even if the falling birth-rates reported in the world's developed nations were to be repeated
                        throughout the world, would this be sufficient to
                        compensate for massively extended life-expectancy, and would we be willing to see the
                        demographic balance of our society change out of all recognition?
                        David Gems, the head of the Centre for Research into Ageing at University College, London, is
                        enthusiastic about the opportunities opened up by extended life, but even he observes,
                        'If people live much longer, the proportion of children would. of course, he very small.
                        It strikes me that it might feel rather claustrophobic: all those middle-aged people and very
                        few children or young people.'</p>
                    <p>
                        The philosopher John Polkinghorne emphasises that any discussion of the merits of life-extending
                        therapies must take
                        into account the quality of the life that is lived: 'One would not wish to prolong life beyond
                        the point it had ceased to
                        be creative and fulfilling and meaningful,
                        ' he says. 'Presumably, there would have to come a point at which life ceased to be creative and
                        became just repetition.
                        Clearly, there are only so many rounds of golf one would want to play.'</p>

                    <p>
                        But Polkinghorne, a member of the Human Genetics Commission, also observes that so far our
                        experience of extended life-expectancy has not resulted in world-weariness.
                        Throughout the last century, life-expectancy rose consistently, thanks to improved diet, better
                        hygiene, continuous medical innovation and the provision of free or subsidised healthcare.
                        In 1952 the Queen sent out 225 telegrams to people on their 100th birthday; in 1996 she sent out
                        5218. 'Consider also, the lives of our Roman and Anglo-Saxon ancestors' he says.
                        By and large, the doubling of human lifespan we have seen since then has not been a bad thing.
                        Life has not become frustrating and boring. For example, we now live to see our children's
                        children, and this is good.'
                    </p>



                    <p><strong> the following statements agree with the information given in passage?
                            In boxes 6-10 on your answer sheet write
                        </strong>
                    <p><strong>YES</strong> if the statement agrees with the writer's claims</p>
                    <p><strong>NO</strong> if the statement contradicts the writer's claims</p>
                    <p><strong>NOT GIVEN</strong> if there is impossible to say what the writer thinks about this</p>
                    <br>

                    <p><strong>1.</strong> Scientific predictions about how much it will be possible to lengthen human
                        life vary greatly. <input type="text" class="ex-input" style="width:220px" id="q1"> <span
                            id="s1"></span>
                    </p>
                    <p><strong>2.</strong> Research into extending life involves both new drugs and changes to genes.
                        <input type="text" class="ex-input" style="width:220px" id="q2"> <span id="s2"></span>
                    </p>
                    <p><strong>3.</strong> Scientific experiments have not succeeded in making any animals live longer.
                        <input type="text" class="ex-input" style="width:220px" id="q3"> <span id="s3"></span>
                    </p>
                    <p><strong>4.</strong> Most people in the future will decide not to have children. <input
                            type="text" class="ex-input" style="width:220px" id="q4"> <span id="s4"></span>
                    </p>
                    <p><strong>5.</strong> Life expectancy has improved partly because people eat better. <input
                            type="text" class="ex-input" style="width:220px" id="q5"> <span id="s5"></span>
                    </p>

                    <p><strong>Q 2)6</strong> Which TWO of the following are characteristics of free radicals? Choose
                        TWO letters A-E.
                    <ol type="A">
                        <li> <input type="checkbox" id="ch21" value="1" /> They are a partial cause of certain diseases.
                            <span id="s21"></span></li>
                        <li> <input type="checkbox" id="ch22" /> They escape into the atmosphere when we breathe. <span
                                id="s22"></span></li>
                        <li> <input type="checkbox" id="ch23" /> They are present in two vitamins. <span
                                id="s23"></span></li>
                        <li> <input type="checkbox" id="ch24" value="1" /> They harm our body chemistry. <span
                                id="s24"></span></li>
                        <li> <input type="checkbox" id="ch25" />They are produced by our bodies <span id="s25"></span>
                        </li>
                    </ol><br />

                    <div class="container mt-3">
                        <div class="card mt-3 mb-3">
                            <div class="card-header">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <p><strong> Q 3) High-tech crime-fighting tools
                                            </strong>
                                        </p>
                                    </h6>
                                    <p>
                                        <strong>A</strong>
                                        Crime-fighting technology is getting more sophisticated and rightly so. The
                                        police need to be equipped for the 21st century.
                                        In Britain we’ve already got the world's biggest DNA database. By next year the
                                        state will have access to the genetic data of 4.25m people:
                                        one British-based person in 14. Hundreds of thousands of those on the database
                                        will never have been charged with a crime.
                                    </p>
                                    <p>
                                        <strong>B</strong>
                                        Britain is also reported to have more than £4 million CCTV (closed circuit
                                        television) cameras.
                                        There is a continuing debate about the effectiveness of CCTV. Some evidence
                                        suggests that it is helpful in reducing shoplifting and car crime.
                                        It has also been used to successfully identify terrorists and murderers.
                                        However, many claim that better lighting is just as effective to prevent crime
                                        and that cameras could displace crime. An internal police report said that only
                                        one crime was solved for every 1,000 cameras in London in 2007. In short,
                                        there is conflicting evidence about the effectiveness of cameras, so it is
                                        likely that the debate will continue.
                                    </p>
                                    <p>
                                        <strong>C</strong>
                                        Professor Mike Press, who has spent the past decade studying how design can
                                        contribute to crime reduction, said that, in order for CCTV to have any effect,
                                        it must be used in a targeted way. For example, a scheme in Manchester records
                                        every licence plate at the entrance of a shopping complex and alerts police
                                        when one is found to belong to an untaxed or stolen car. This is an effective
                                        example of monitoring, he said. Most schemes that simply record city centres
                                        continually —
                                        often not being watched - do not produce results. CCTV can also have the
                                        opposite effect of that intended, by giving citizens a false sense of security
                                        and encouraging
                                        them to be careless with property and personal safety. Professor Press said: All
                                        the evidence suggests that CCTV alone makes no positive impact on crime
                                        reduction and prevention
                                        at all The weight of evidence would suggest the investment is more or less a
                                        waste of money unless you have lots of other things in place.’ He believes that
                                        much of
                                        the increase is driven by the marketing efforts of security
                                        companies who promote the crime-reducing benefits of their products. He
                                        described it as a lazy approach to crime prevention’
                                        and said that authorities should instead be focusing on how to alter the
                                        environment to reduce crime.</p>
                                    <p>
                                        <strong>D</strong>
                                        But in reality, this is not what is happening. Instead, police are considering
                                        using more technology.
                                        Police forces have recently begun experimenting with cameras in their helmets.
                                        The footage will be stored on police computers, along with the footage from
                                        thousands of CCTV cameras
                                        and millions of pictures from numberplate recognition cameras used increasingly
                                        to check up on motorists.</p>
                                    <p>
                                        <strong>E</strong>
                                        And now another type of technology is being introduced. It's called the
                                        Microdrone and it’s a toy-sized remote-control craft that hovers
                                        above streets or crowds to film what’s going on beneath. The Microdrone has
                                        already been used to monitor rock festivals, but its supplier
                                        has also been in discussions to supply it to the Metropolitan Police, and Soca,
                                        the Serious Organised Crime Agency. The drones are small enough
                                        to be unnoticed by people on the ground when they are flying at 350ft.
                                        They contain high-resolution video surveillance equipment and an infrared night
                                        vision capability, so even in darkness they give their operators
                                        a bird’s-eye view of locations while remaining virtually undetectable.</p>
                                    <p>
                                        <strong>F</strong>
                                        The worrying thing is, who will get access to this technology? Merseyside police
                                        are already employing two of the devices as part of a
                                        pilot scheme to watch football crowds and city parks looking for antisocial
                                        behaviour. It is not just about crime detection: West Midlands
                                        fire brigade is about to lease a drone, for example, to get a better view of
                                        fire and flood scenes and aid rescue attempts; the Environment
                                        Agency is considering their use for monitoring of illegal fly tipping and oil
                                        spills. The company that makes the drone says it has no plans
                                        to license the equipment to individuals or private companies, which hopefully
                                        will prevent private security firms from getting their hands on them.
                                        But what about local authorities? In theory, this technology could be used
                                        against motorists. And where will the surveillance society end? Already
                                        there are plans to introduce smart water’ containing a unique DNA code
                                        identifier that when sprayed on a suspect will cling to their clothes and
                                        skin and allow officers to identify them later. As long as high-tech tools are
                                        being used in the fight against crime and terrorism, fine. But if it’s
                                        another weapon to be used to invade our privacy then we don’t want it.</p>


                                    <br>
                                    <h6 class="card-title">
                                        <p><strong> Q 3) Choose the correct letter, A, B, C or D.
                                            </strong>
                                        </p>
                                    </h6>
                                    <p><strong>7.</strong> Britain has already got <span id="s7"></span></p>
                                    <ol type="A">
                                        <li> <input type="radio" name="q7"> four million CCTV cameras.
                                        </li>
                                        <li> <input type="radio" name="q7" id="a7"> more data about DNA than any other
                                            country.</li>
                                        <li> <input type="radio" name="q7">the most sophisticated crime-fighting
                                            technology.</li>
                                        <li> <input type="radio" name="q7">Daccess to the genetic data of one in
                                            fourteen people living in Britain.</li>
                                    </ol><br />
                                    <p><strong>8.</strong> Professor Press<span id="s8"></span></p>
                                    <ol type="A">
                                        <li> <input type="radio" name="q8"> works at the University of Manchester.</li>
                                        <li> <input type="radio" name="q8">studies car-related crime.</li>
                                        <li> <input type="radio" name="q8" id="a8">is concerned about the negative
                                            impact of the use of CCTV.</li>
                                        <li> <input type="radio" name="q8">Dfeels that some marketing departments lie
                                            about the crime-reducing benefits of CCTV.</li>
                                    </ol><br />
                                    <p><strong>9.</strong> The Microdrone is <span id="s9"></span></p>
                                    <ol type="A">
                                        <li> <input type="radio" name="q9">a type of toy in the shape
                                            of a plane.</li>
                                        <li> <input type="radio" name="q9"> being used by the
                                            Metropolitan Police.</li>
                                        <li> <input type="radio" name="q9">being used by the
                                            government.</li>
                                        <li> <input type="radio" name="q9" id="a9">able to film in
                                            the dark.</li>
                                    </ol><br />

                                    <br><br />
                                    <p><strong>Q 8) the following statements agree with the information given in
                                            passage?
                                            In boxes 10-12 on your answer sheet write
                                        </strong>
                                    <p><strong>YES</strong> if the statement agrees with the writer's claims</p>
                                    <p><strong>NO</strong> if the statement contradicts the writer's claims</p>
                                    <p><strong>NOT GIVEN</strong> if there is impossible to say what the writer thinks
                                        about this</p><br>

                                    <p><strong>10.</strong> The British authorities use too much technology to monitor
                                        their citizens. <input type="text" class="ex-input" style="width:220px"
                                            id="q10"> <span id="s10"></span>
                                    </p>
                                    <p><strong>11.</strong> Microdrone is currently not used to check drivers<input
                                            type="text" class="ex-input" style="width:220px" id="q11"> <span
                                            id="s11"></span>
                                    </p>
                                    <p><strong>12.</strong> Technology should not be used to check on people's private
                                        affairs. <input type="text" class="ex-input" style="width:220px" id="q12"> <span
                                            id="s12"></span>
                                    </p>


                                    <br> <!-- end of questions-->
                                    <button id="b2" type="button" class="btn btn-outline-info" onclick="toggle()">
                                        <img height="25px" src="/static/images/show.png" style="vertical-align: middle" />Show
                                        answers</button>

										 <!-- Answers-->
                                    <div id="answers" style="display:none;" class="hint">
                                        <p><strong>ANSWERS</strong></p>
                                        <p><strong>stage 2</strong></p>
                                        <ol start="1">
                                            <li>YES</li>
                                            <li>YES</li>
                                            <li>NO</li>
                                            <li>NOT GIVEN</li>
                                            <li>YES</li>
                                            <li>A,D</li>
                                            <li>B</li>
                                            <li>C</li>
                                            <li>D</li>
                                            <li>NOT GIVEN</li>
                                            <li>YES</li>
                                            <li>YES</li>

                                        </ol>

                                    </div>
                                </div> <br /> <br />
                                <div id="result" align="center"> </div>
                                <div align="center">
                                    &emsp;

                                    <button class="btn btn-primary btn-sm " type="button"
                                        onclick="check()">Check</button> &emsp;
                                        <a href="/reading/go_home" class="btn btn-primary btn-sm ">Home</a>

                                </div>
                            </div>
                        </div>
                    </div>

</body>
<script>
 <!-- function declairation for check answers-->
    function check() {

        var q1, text, text2, score; score = 0;



        var q = ['yes', 'yes', 'no', 'not given', 'yes'];
        for (var i = 1; i < 6; i++) {
            q1 = document.getElementById("q" + i).value;
            if (q1.trim().toLowerCase() != q[i - 1]) { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
            else { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }
        }

        for (var i = 21; i < 26; i++) {
            text = 'ch' + i;
            if (document.getElementById(text).checked == true) {
                if (document.getElementById(text).value == 1) { document.getElementById('s' + i).innerHTML = '<img height=20px src="/static/images/correct.png" />'; score++; }
                else document.getElementById('s' + i).innerHTML = '<img height=20px src="/static/images/wrong.png" />';
            }


        }

        for (var i = 7; i < 10; i++) {
            text = "a" + i; text2 = "s" + i;
            if (document.getElementById(text).checked == true) {
                document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png"  />';
                score++;
            }
            else { ; document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png"  />'; }
        }

        var q = ['not given', 'yes', 'yes'];
        for (var i = 10; i < 13; i++) {
            q1 = document.getElementById("q" + i).value;
            if (q1.trim().toLowerCase() != q[i - 10]) { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
            else { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }
        }


        setCookie("fourth", score, 3);
        document.getElementById("result").innerHTML =
            "<div class='result'>Your result for this quiz " + score + "/22 </div>";
    }



    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }



    function toggle() {
        var e = document.getElementById("answers");
        if (e.style.display == 'block') {
            document.getElementById("b2").innerHTML = ' <img height="25px" src="/static/images/show.png" style="vertical-align: middle"  /> Show answers';
            e.style.display = 'none';
        }
        else {
            document.getElementById("b2").innerHTML = '<img height="25px" src="/static/images/hide.png" style="vertical-align: middle"  /> Hide answers';
            e.style.display = 'block';
        }
    }
</script>
{% endblock content %}