{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Reading</h5>
        </div>
    </div>
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="card-body">
                <h6 class="card-title">
				<!-- Comprehension skills improvement plan-->
                    <p><strong>Let’s Improve Your Comprehension skills.</P></STRONG>
                    <p><strong>Q1)Crop-growing skyscrapers</strong>
                    </p>
                </h6>
                <p>
                    By the year 2050, nearly 80% of the Earth's population will live in urban centres. Applying
                    the most conservative estimates to current demographic trends, the human population will
                    increase by about three billion people by then. An estimated 10 hectares of new land (about
                    20% larger than Brazil) will be needed to grow enough food to feed them, if traditional
                    farming methods continue as they are practised today. At present, throughout the world, over
                    80% of the land that is suitable for raising crops is in use. Historically, some 15% of that
                    has been laid waste by poor management practices. What can be done to ensure enough food for
                    the world's population to live on?</p>
                <p>
                    The concept of indoor farming is not new, since hothouse production of tomatoes and other
                    produce has been in vogue for some time. What is new is the urgent need to scale up this
                    technology to accommodate another three billion people. Many believe an entirely new
                    approach to indoor farming is required, employing cutting-edge technologies. One such
                    proposal is for the 'Vertical Farm'. The concept is of multi-storey buildings in which food
                    crops are grown in environmentally controlled conditions. Situated in the heart of urban
                    centres, they would drastically reduce the amount of transportation required to bring food
                    to consumers. Vertical farms would need to be efficient, cheap to construct and safe to
                    operate. If successfully implemented, proponents claim, vertical farms offer the promise of
                    urban renewal, sustainable production of a safe and varied food supply (through year-round
                    production of all crops), and the eventual repair of ecosystems that have been sacrificed
                    for horizontal farming.</p>
                <p>
                    It took humans 10,000 years to learn how to grow most of the crops we now take for granted.
                    Along the way, we despoiled most of the land we worked, often turning verdant, natural
                    ecozones into semi-arid deserts. Within that same time frame, we evolved into an urban
                    species, in which 60% of the human population now lives vertically in cities. This means
                    that, for the majority, we humans have shelter from the elements, yet we subject our
                    food-bearing plants to the rigours of the great outdoors and can do no more than hope for a
                    good weather year. However, more often than not now, due to a rapidly changing climate, that
                    is not what happens. Massive floods, long droughts, hurricanes and severe monsoons take
                    their toll each year, destroying millions of tons of valuable crops.</p>
                <p>
                    The supporters of vertical farming claim many potential advantages for the system. For
                    instance, crops would be produced all year round, as they would be kept in artificially
                    controlled, optimum growing conditions. There would be no weather-related crop failures due
                    to droughts, floods or pests. All the food could be grown organically, eliminating the need
                    for herbicides, pesticides and fertilisers. The system would greatly reduce the incidence of
                    many infectious diseases that are acquired at the agricultural interface. Although the
                    system would consume energy, it would return energy to the grid via methane generation from
                    composting non-edible parts of plants. It would also dramatically reduce fossil fuel use, by
                    cutting out the need for tractors, ploughs and shipping.</p>
                <p>
                    A major drawback of vertical farming, however, is that the plants would require artificial
                    light. Without it, those plants nearest the windows would be exposed to more sunlight and
                    grow more quickly, reducing the efficiency of the system. Single-storey greenhouses have the
                    benefit of natural overhead light: even so, many still need artificial lighting. A
                    multi-storey facility with no natural overhead light would require far more. Generating
                    enough light could be prohibitively expensive, unless cheap, renewable energy is available,
                    and this appears to be rather a future aspiration than a likelihood for the near
                    future.</p>
                <p>
                    One variation on vertical farming that has been developed is to grow plants in stacked trays
                    that move on rails. Moving the trays allows the plants to get enough sunlight. This system
                    is already in operation, and works well within a single-storey greenhouse with light
                    reaching it from above: it is not certain, however, that it can be made to work without that
                    overhead natural light.</p>
                <p>
                    Vertical farming is an attempt to address the undoubted problems that we face in producing
                    enough food for a growing population. At the moment, though, more needs to be done to reduce
                    the detrimental impact it would have on the environment, particularly as regards the use of
                    energy. While it is possible that much of our food will be grown in skyscrapers in future,
                    most experts currently believe it is far more likely that we will simply use the space
                    available on urban rooftops.</p>


                <p><strong> the following statements agree with the information given in passage?
                        In boxes 1-6 on your answer sheet write
                    </strong>
                <p><strong>TRUE</strong> if the statement agrees with the information</p>
                <p><strong>FALSE</strong> if the statement contradicts the information</p>
                <p><strong>NOT GIVEN</strong> if there is no information on this</p><br>

                <p><strong>1.</strong> Methods for predicting the Earth's population have recently changed. <input
                        type="text" class="ex-input" style="width:220px" id="q1"> <span id="s1"></span>
                </p>
                <p><strong>2.</strong> Human beings are responsible for some of the destruction to food-producing
                    land. <input type="text" class="ex-input" style="width:220px" id="q2"> <span id="s2"></span>
                </p>
                <p><strong>3.</strong> The crops produced in vertical farms will depend on the season <input type="text"
                        class="ex-input" style="width:220px" id="q3"> <span id="s3"></span>
                </p>
                <p><strong>4.</strong> Some damage to food crops is caused by climate change. <input type="text"
                        class="ex-input" style="width:220px" id="q4"> <span id="s4"></span>
                </p>
                <p><strong>5.</strong> Fertilisers will be needed for certain crops in vertical farms. <input
                        type="text" class="ex-input" style="width:220px" id="q5"> <span id="s5"></span>
                </p>
                <p><strong>6.</strong> Vertical farming will make plants less likely to be affected by infectious
                    diseases. <input type="text" class="ex-input" style="width:220px" id="q6"> <span id="s6"></span>
                </p>
                <br>

                <p><strong>Q2) A neuroscientist reveals how to think differently</strong>
                </p>
                </h6>
                <p>
                    In the last decade a revolution has occurred in the way that scientists think about the brain.
                    We now know that the decisions humans make can be traced to the firing patterns of neurons in
                    specific parts of the brain. These discoveries have led to the field known as neuroeconomics,
                    which studies the brain's secrets to success in an economic environment that demands innovation
                    and being able to do things differently from competitors. A brain that can do this is an
                    iconoclastic one. Briefly, an iconoclast is a person who does something that others say can't be
                    done.</p>
                <p>
                    This definition implies that iconoclasts are different from other people, but more precisely, it
                    is their brains that are different in three distinct ways: perception, fear response, and social
                    intelligence. Each of these three functions utilizes a different circuit in the brain. Naysayers
                    might suggest that the brain is irrelevant, that thinking in an original, even revolutionary,
                    way is more a matter of personality than brain function. But the field of neuroeconomics was
                    born out of the realization that the physical workings of the brain place limitations on the way
                    we make decisions. By understanding these constraints, we begin to understand why some people
                    march to a different drumbeat.</p>
                <p>
                    The first thing to realize is that the brain suffers from limited resources. It has a fixed
                    energy budget, about the same as a 40 watt light bulb, so it has evolved to work as efficiently
                    as possible. This is where most people are impeded from being an iconoclast. For example, when
                    confronted with information streaming from the eyes, the brain will interpret this information
                    in the quickest way possible. Thus it will draw on both past experience and any other source of
                    information, such as what other people say, to make sense of what it is seeing. This happens all
                    the time. The brain takes shortcuts that work so well we are hardly ever aware of them. We think
                    our perceptions of the world are real, but they are only biological and electrical rumblings.
                    Perception is not simply a product of what your eyes or ears transmit to your brain. More than
                    the physical reality of photons or sound waves, perception is a product of the brain.</p>
                <p>
                    Perception is central to iconoclasm. Iconoclasts see things differently to other people. Their
                    brains do not fall into efficiency pitfalls as much as the average person's brain. Iconoclasts,
                    either because they were born that way or through learning, have found ways to work around the
                    perceptual shortcuts that plague most people. Perception is not something that is hardwired into
                    the brain. It is a learned process, which is both a curse and an opportunity for change. The
                    brain faces the fundamental problem of interpreting physical stimuli from the senses. Everything
                    the brain sees, hears, or touches has multiple interpretations. The one that is ultimately
                    chosen is simply the brain's best theory. In technical terms, these conjectures have their basis
                    in the statistical likelihood of one interpretation over another and are heavily influenced by
                    past experience and, importantly for potential iconoclasts, what other people say..</p>
                <p>
                    The best way to see things differently to other people is to bombard the brain with things it
                    has never encountered before. Novelty releases the perceptual process from the chains of past
                    experience and forces the brain to make new judgments. Successful iconoclasts have an
                    extraordinary willingness to be exposed to what is fresh and different. Observation of
                    iconoclasts shows that they embrace novelty while most people avoid things that are different.
                </p>
                <p>
                    The problem with novelty, however, is that it tends to trigger the brain's fear system. Fear is
                    a major impediment to thinking like an iconoclast and stops the average person in his tracks.
                    There are many types of fear, but the two that inhibit iconoclastic thinking and people
                    generally find difficult to deal with are fear of uncertainty and fear of public ridicule. These
                    may seem like trivial phobias. But fear of public speaking, which everyone must do from time to
                    time, afflicts one-third of the population. This makes it too common to be considered a mental
                    disorder. It is simply a common variant of human nature, one which iconoclasts do not let
                    inhibit their reactions.</p>
                <p>
                    Finally, to be successful iconoclasts, individuals must sell their ideas to other people. This
                    is where social intelligence comes in. Social intelligence is the ability to understand and
                    manage people in a business setting. In the last decade there has been an explosion of knowledge
                    about the social brain and how the brain works when groups coordinate decision making.
                    Neuroscience has revealed which brain circuits are responsible for functions like understanding
                    what other people think, empathy, fairness, and social identity. These brain regions play key
                    roles in whether people convince others of their ideas. Perception is important in social
                    cognition too. The perception of someone's enthusiasm, or reputation, can make or break a deal.
                    Understanding how perception becomes intertwined with social decision making shows why
                    successful iconoclasts are so rare.</p>

                <p>
                    Iconoclasts create new opportunities in every area from artistic expression to technology to
                    business. They supply creativity and innovation not easily accomplished by committees. Rules
                    aren't important to them. Iconoclasts face alienation and failure, but can also be a major asset
                    to any organization. It is crucial for success in any field to understand how the iconoclastic
                    mind works.</p><br>
                <p><strong>7.</strong> Neuroeconomics is a field of study which seeks to <span id="s7"></span></p>
                <ol type="A">
                    <li> <input type="radio" name="q7">cause a change in how scientists understand brain chemistry.
                    </li>
                    <li> <input type="radio" name="q7"> understand how good decisions are made in the brain.</li>
                    <li> <input type="radio" name="q7" id="a7"> understand how the brain is linked to achievement in
                        competitive fields.</li>
                    <li> <input type="radio" name="q7">trace the specific firing patterns of neurons in different
                        areas of the brain.</li>
                </ol><br />
                <p><strong>8.</strong> According to the writer, iconoclasts are distinctive because <span
                        id="s8"></span></p>
                <ol type="A">
                    <li> <input type="radio" name="q8"> they create unusual brain circuits.</li>
                    <li> <input type="radio" name="q8" id="a8"> their brains function differently.</li>
                    <li> <input type="radio" name="q8"> their personalities are distinctive.</li>
                    <li> <input type="radio" name="q8"> they make decisions easily.</li>
                </ol><br />
                <p><strong>9.</strong> According to the writer, the brain works efficiently because <span
                        id="s9"></span></p>
                <ol type="A">
                    <li> <input type="radio" name="q9"> it uses the eyes quickly.</li>
                    <li> <input type="radio" name="q9"> it interprets data logically.</li>
                    <li> <input type="radio" name="q9"> it generates its own energy.</li>
                    <li> <input type="radio" name="q9" id="a9"> it relies on previous events.</li>
                </ol><br />
                <p><strong>10.</strong> The writer says that perception is <span id="s10"></span>
                </p>
                <ol type="A">
                    <li> <input type="radio" name="q10"> a combination of photons and sound waves.</li>
                    <li> <input type="radio" name="q10"> a reliable product of what your senses transmit.</li>
                    <li> <input type="radio" name="q10" id="a10"> a result of brain processes.</li>
                    <li> <input type="radio" name="q10"> a process we are usually conscious of.</li>
                </ol><br />
                <p><strong>11.</strong> According to the writer, an iconoclastic thinker <span id="s11"></span>
                </p>
                <ol type="A">
                    <li> <input type="radio" name="q11"> centralises perceptual thinking in one part of the brain.
                    </li>
                    <li> <input type="radio" name="q11" id="a11">avoids cognitive traps.
                    </li>
                    <li> <input type="radio" name="q11"> has a brain that is hardwired for learning.</li>
                    <li> <input type="radio" name="q11"> has more opportunities than the average person.</li>
                </ol><br />
                <br /><br />
                <p><strong>Q3) the following statements agree with the information given in passage?
                        In boxes 12-17 on your answer sheet write
                    </strong>
                <p><strong>TRUE</strong> if the statement agrees with the information</p>
                <p><strong>FALSE</strong> if the statement contradicts the information</p>
                <p><strong>NOT GIVEN</strong> if there is no information on this</p><br>

                <p><strong>12.</strong> Exposure to different events forces the brain to think differently. <input
                        type="text" class="ex-input" style="width:220px" id="q12"> <span id="s12"></span>
                </p>
                <p><strong>13.</strong> Iconoclasts are unusually receptive to new experiences <input type="text"
                        class="ex-input" style="width:220px" id="q13"> <span id="s13"></span>
                </p>
                <p><strong>14.</strong> Most people are too shy to try different things <input type="text"
                        class="ex-input" style="width:220px" id="q14"> <span id="s14"></span>
                </p>
                <p><strong>15.</strong> If you think in an iconoclastic way, you can easily overcome fear. <input
                        type="text" class="ex-input" style="width:220px" id="q15"> <span id="s15"></span>
                </p>
                <p><strong>16.</strong> When concern about embarrassment matters less, other fears become
                    irrelevant. <input type="text" class="ex-input" style="width:220px" id="q16"> <span id="s16"></span>
                </p>
                <p><strong>17.</strong> ear of public speaking is a psychological illness. <input type="text"
                        class="ex-input" style="width:220px" id="q17"> <span id="s17"></span>
                </p>
                <br>

            </div> <br /> <br /><!--end of questions-->


            <button id="b2" type="button" class="btn btn-outline-info" onclick="toggle()">
                <img height="25px" src="/static/images/show.png" style="vertical-align: middle" />Show answers</button>

				<!-- answers-->
            <div id="answers" style="display:none;" class="hint">
                <p><strong>ANSWERS</strong></p>
                <p><strong>stage 2</strong></p>
                <ol start="1">
                    <li>NOT GIVEN</li>
                    <li>TRUE</li>
                    <li>FALSE</li>
                    <li>TRUE</li>
                    <li>FALSE</li>
                    <li>TRUE</li>
                    <li>C</li>
                    <li>B</li>
                    <li>D</li>
                    <li>C</li>
                    <li>B</li>
                    <li>YES</li>
                    <li>YES</li>
                    <li>NOT GIVEN</li>
                    <li>NO</li>
                    <li>NOT GIVEN</li>
                    <li>NO</li>
                </ol>

            </div>
        </div> <br /> <br />
        <div id="result" align="center"> </div>
        <div align="center">
            &emsp;

            <button class="btn btn-primary btn-sm " type="button" onclick="check()">Check</button> &emsp;
            <a href="/reading/go_home" class="btn btn-primary btn-sm ">Home</a>

        </div>
    </div>
    </body>
    <script>
	<!-- function declairation for check answers-->
        function check() {

            var q, q1, text, text2, score; score = 0;

            var q = ['not given', 'true', 'false', 'true', 'false', 'true'];
            for (var i = 1; i < 7; i++) {
                q1 = document.getElementById("q" + i).value;
                if (q1.trim().toLowerCase() != q[i - 1]) { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
                else { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }
            }

            for (var i = 7; i < 12; i++) {
                text = "a" + i; text2 = "s" + i;
                if (document.getElementById(text).checked == true) {
                    document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png"  />';
                    score++;
                }
                else { ; document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png"  />'; }
            }

            var q1 = ['yes', 'yes', 'not given', 'no', 'not given', 'no'];
            for (var i = 12; i < 18; i++) {
                q1 = document.getElementById("q" + i).value;
                if (q1.trim().toLowerCase() != q[i - 12]) { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
                else { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }
            }


            document.getElementById("result").innerHTML =
                "<div class='result'>Your result for this quiz " + score + "/10 </div>";
        }



        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }
        function toggle() {
            var e = document.getElementById("answers");
            if (e.style.display == 'block') {
                document.getElementById("b2").innerHTML = ' <img height="25px" src="/static/images/show.png" style="vertical-align: middle"  /> Show answers';
                e.style.display = 'none';
            }
            else {
                document.getElementById("b2").innerHTML = '<img height="25px" src="/static/images/hide.png" style="vertical-align: middle"  /> Hide answers';
                e.style.display = 'block';
            }
        }
    </script>
    {% endblock content %}