{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Reading</h5>
        </div>
    </div>
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <div class="card-body">
                    <h6 class="card-title">
					<!-- Comprehension skills improvement plan-->
					<p><strong>Let’s Improve Your Comprehension skills.</P></strong>
                        <p><strong>Q 1) William Kamkwamba</strong>
                        </p>
                    </h6>
                    <p>
                        In 2002, William Kamkwamba had to drop out of school, as his father, a maize and tobacco farmer, 
						could no longer afford his school fees. But despite this setback, William was determined to get his education. 
						He began visiting a local library that had just opened in his old primary school, where he discovered a tattered
						science book.With only a rudimentary grasp of English, he taught himself basic physics - mainly by studying photos and diagrams. 
						Another book he found there featured windmills on the cover and inspired him to try and build his own.</p>
                    <p>
                        He started by constructing a small model. Then, with the help of a cousin and friend, he 
						spent many weeks searching scrap yards and found old tractor fans, shock absorbers, plastic pipe and bicycle parts, 
						which he used to build the real thing.</p>
                    <p>
                        For windmill blades, William cut some bath pipe in two lengthwise, then heated the pieces over hot coals to press the curled edges flat. 
						To bore holes into the blades, he stuck a nail through half a corncob, heated the metal red and twisted it through the blades. 
						It took three hours to repeatedly heat the nail and bore the holes. He attached the blades to a tractor 
						fan using proper nuts and bolts and then to the back axle of a bicycle.
						Electricity was generated through the bicycle dynamo. When the wind blew the blades, 
						the bike chain spun the bike wheel, which charged the dynamo and sent a current through wire to his house.</p>
                    <p>
                        What he had built was a crude machine that produced 12 volts and powered four lights. When it was all done, 
						the windmill's wingspan measured more than eight feet and sat on top of a rickety tower 15 feet tall that swayed 
						violently in strong gales. He eventually replaced the tower with a sturdier one that stands 39 feet, and built a 
						second machine that watered a family garden.</p>
                    <p>
                        The windmill brought William Kamkwamba instant local fame, but despite his accomplishment, he was still unable to return to school. 
						However, news of his magetsi a mphepo - electric wind - spread beyond Malawi, and eventually things began to change. An education official, 
						who had heard news of the windmill, came to visit his village and was amazed to learn that William had been out of school for five years. 
						He arranged for him to attend secondary school at the government's expense and brought journalists to 
						the farm to see the windmill. Then a story published in the Malawi Daily Mail caught the attention of bloggers,
						which in turn caught the attention of organisers for the Technology Entertainment and Design conference.</p>
                    <p>
                        In 2007, William spoke at the TED Global conference in Tanzania and got a standing ovation.
						Businessmen stepped forward with offers to fund his education and projects, and with money donated by them, 
						he was able to put his cousin and several friends back into school and pay for some medical needs of his family. 
						With the donation, he also drilled a borehole for a well and water pump in his village and installed drip irrigation in his father's fields.</p>
                    <p>
                        The water pump has allowed his family to expand its crops. They have abandoned tobacco and now grow maize,
						beans, soybeans, potatoes and peanuts. The windmills have also brought big lifestyle and health changes to the other villagers.
						'The village has changed a lot,' William says. 'Now, the time that they would have spent going to fetch water, they are using for doing other things.
						And also the water they are drinking is clean water, so there is less disease.' The villagers have also stopped using kerosene 
						and can use the money previously spent on fuel to buy other things.</p>
						
					<p>
						William Kamkwamba's example has inspired other children in the village to pursue science.
						William says they now see that if they put their mind to something, they can achieve it. 'It has changed the way people think,' he says.
					</p>
					


                    <p><strong> the following statements agree with the information given in passage?
                            In boxes 1-5 on your answer sheet write
                        </strong>
                    <p><strong>TRUE</strong> if the statement agrees with the information</p>
                    <p><strong>FALSE</strong> if the statement contradicts the information</p>
                    <p><strong>NOT GIVEN</strong> if there is no information on this</p><br>

                    <p><strong>1.</strong> William used the electricity he created for village transport <input
                            type="text" class="ex-input" style="width:220px" id="q1"> <span id="s1"></span>
                    </p>
                    <p><strong>2.</strong> At first, William's achievement was ignored by local people.  <input 
							type="text" class="ex-input" style="width:220px" id="q2"> <span id="s2"></span>
                    </p>
                    <p><strong>3.</strong> Journalists from other countries visited William's farm.  <input
                            type="text" class="ex-input" style="width:220px" id="q3"> <span id="s3"></span>
                    </p>
                    <p><strong>4.</strong> William used money he received to improve water supplies in his village <input
							type="text" class="ex-input" style="width:220px" id="q4"> <span id="s4"></span>
                    </p>
                    <p><strong>5.</strong> The health of the villagers has improved since the windmill was built. <input
                            type="text" class="ex-input" style="width:220px" id="q5"> <span id="s5"></span>
                    </p>
                    
              
                    
				
				 <div class="container mt-3">
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <div class="card-body">
                    <h6 class="card-title">
                        <p><strong> Q 2) LIFE WITHOUT DEATH - by Duncan Turner
							</strong>
                        </p>
                    </h6>
                    <p>
                        Until recently, the thought that there might ever be a cure for ageing seemed preposterous. 
						Growing older and more decrepit appeared to be an inevitable and necessary part of being human. 
						Over the last decade, however, scientists have begun to see ageing differently.
						Some now believe that the average life-expectancy may soon be pushed up to 160 years; 
						others think that it may be extended to 200 or 300 years. A handful even wonder whether we might one day live for a millennium or more.</p>
                    <p>
                        Behind this new excitement is the theory that the primary cause of ageing lies in highly reactive molecules called free radicals, 
						left behind by the oxygen we breathe. Free radicals react with the molecules in our bodies, damaging DNA, proteins and other cell tissues, 
						and are known to be implicated in diseases as diverse as cataracts,cancer and Alzheimer's. 
						The body does its best to protect itself against free radicals by producing its own chemicals to prevent ageing, 
						such as vitamins E and C, but it is always fighting a losing battle.</p>
                    <p>
                        A year ago Gordon Lithgow of the University of Manchester discovered a way to help combat free radicals. Using one of these anti-ageing chemicals.
						he managed to increase the lifespan of one species of earthworm by 50 per cent. Despite cautionary words from the scientists, 
						many welcomed this as the first step towards a drug which would extend life. Research involving the mutation of genes has also thrown up fascinating results: 
						after identifying two of the genes that appear to control how long the earthworm lives, similar genes were found in organisms as various as fruit-flies,
						mice and human beings. When one considers the vast evolutionary distances that separate these species, 
						it suggests that we may have discovered a key to how ageing is regulated throughout the entire animal kingdom.</p>
                    <p>
                        In June last year a small American company called Eukarion sought permission to carry out the first trials of an anti-ageing drug,
						SCS, on human beings.Although it will initially be used to treat diseases associated with old age, Eukarion said, that 'if the effect of treating diseases 
						of old age is to extend life, everyone's going to be happy.'</p>
                    <p>
                        Some scientists, however, are quick to discourage extravagant speculation. 
						'There is no evidence whatsoever that swallowing any chemical would have an effect on mammals', 
						says Rich Miller of the University of Michigan. 'And those people who claim it might need to go out and do some experimenting'. 
						Some research, moreover, has produced alarming results. As well as controlling ageing, 
						these, genes also partly control the hormones which regulate growth. The upshot of this is that 
						although the lives of mutant mice can be extended by up to 80 per cent, they remain smaller than normal.</p>
                    <p>
                        Quite apart from these sorts of horrors, the ethical implications of extending human lifespan are likely to worry many people.
						Even if the falling birth-rates reported in the world's developed nations were to be repeated throughout the world, would this be sufficient to 
						compensate for massively extended life-expectancy, and would we be willing to see the demographic balance of our society change out of all recognition? 
						David Gems, the head of the Centre for Research into Ageing at University College, London, is enthusiastic about the opportunities opened up by extended life, but even he observes, 
						'If people live much longer, the proportion of children would. of course, he very small. 
						It strikes me that it might feel rather claustrophobic: all those middle-aged people and very few children or young people.'</p>
                    <p>
                        The philosopher John Polkinghorne emphasises that any discussion of the merits of life-extending therapies must take 
						into account the quality of the life that is lived: 'One would not wish to prolong life beyond the point it had ceased to 
						be creative and fulfilling and meaningful,
						' he says. 'Presumably, there would have to come a point at which life ceased to be creative and became just repetition. 
						Clearly, there are only so many rounds of golf one would want to play.'</p>
						
					<p>
						But Polkinghorne, a member of the Human Genetics Commission, also observes that so far our experience of extended life-expectancy has not resulted in world-weariness.
						Throughout the last century, life-expectancy rose consistently, thanks to improved diet, better hygiene, continuous medical innovation and the provision of free or subsidised healthcare.
						In 1952 the Queen sent out 225 telegrams to people on their 100th birthday; in 1996 she sent out 5218. 'Consider also, the lives of our Roman and Anglo-Saxon ancestors' he says. 
						By and large, the doubling of human lifespan we have seen since then has not been a bad thing. 
						Life has not become frustrating and boring. For example, we now live to see our children's children, and this is good.'
					</p>
					


                    <p><strong> the following statements agree with the information given in passage?
                            In boxes 6-10 on your answer sheet write
                        </strong>
                    <p><strong>YES</strong> if the statement agrees with the information</p>
                    <p><strong>NO</strong> if the statement contradicts the information</p>
                    <p><strong>NOT GIVEN</strong> if there is no information on this</p><br>

                    <p><strong>6.</strong> Scientific predictions about how much it will be possible to lengthen human life vary greatly.   <input
                            type="text" class="ex-input" style="width:220px" id="q6"> <span id="s6"></span>
                    </p>
                    <p><strong>7.</strong> Research into extending life involves both new drugs and changes to genes.   <input 
							type="text" class="ex-input" style="width:220px" id="q7"> <span id="s7"></span>
                    </p>
                    <p><strong>8.</strong> Scientific experiments have not succeeded in making any animals live longer.  <input
                            type="text" class="ex-input" style="width:220px" id="q8"> <span id="s8"></span>
                    </p>
                    <p><strong>9.</strong> Most people in the future will decide not to have children.  <input
							type="text" class="ex-input" style="width:220px" id="q9"> <span id="s9"></span>
                    </p>
                    <p><strong>10.</strong> Life expectancy has improved partly because people eat better.  <input
                            type="text" class="ex-input" style="width:220px" id="q10"> <span id="s10"></span>
                    </p>
                    
              
                    <br><!--end of questions-->
                    <button id="b2" type="button" class="btn btn-outline-info" onclick="toggle()">
                        <img height="25px" src="/static/images/show.png" style="vertical-align: middle" />Show answers</button>

						<!-- answers-->
                    <div id="answers" style="display:none;" class="hint">
                        <p><strong>ANSWERS</strong></p>
                        <p><strong>stage 2</strong></p>
                        <ol start="1">
                            <li>FALSE</li>
                            <li>FALSE</li>
                            <li>NOT GIVEN</li>
                            <li>TRUE</li>
                            <li>TRUE</li>
							<li>YES</li>
                            <li>YES</li>
                            <li>NO</li>
                            <li>NOT GIVEN</li>
                            <li>YES</li>
							
                            
                        </ol>

                    </div>
                </div> <br /> <br />
                <div id="result" align="center"> </div>
                <div align="center">
                    &emsp;

                    <button class="btn btn-primary btn-sm " type="button" onclick="check()">Check</button> &emsp;
                    <a href="/reading/go_home" class="btn btn-primary btn-sm ">Home</a>

                </div>
</body>
<script>
<!-- function declairation for check answers-->
    function check() {

        var q1, text, text2, score; score = 0;

        var q = ['false', 'false', 'not given', 'true', 'true','yes','yes','no','not given','yes' ];
        for (var i = 1; i < 11; i++) {
            q1 = document.getElementById("q" + i).value;
            if (q1.trim().toLowerCase() != q[i - 1]) { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
            else { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }
        }


        setCookie("fourth", score, 3);
        document.getElementById("result").innerHTML =
            "<div class='result'>Your result for this quiz " + score + "/10 </div>";
    }

	

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }
    function toggle() {
        var e = document.getElementById("answers");
        if (e.style.display == 'block') {
            document.getElementById("b2").innerHTML = ' <img height="25px" src="/static/images/show.png" style="vertical-align: middle"  /> Show answers';
            e.style.display = 'none';
        }
        else {
            document.getElementById("b2").innerHTML = '<img height="25px" src="/static/images/hide.png" style="vertical-align: middle"  /> Hide answers';
            e.style.display = 'block';
        }
    }
	
	
	
	
</script>
{% endblock content %}