{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Reading</h5>
        </div>
    </div>
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <div class="card-body">
                    <h6 class="card-title">
					<!-- Reading for detail improvement plan-->
                        <p><strong>Let’s Improve Your Reading for detail skills.</P>
                        <P> Q 1) The Birth of Blue</P>
                        </strong>
                        </p>
                    </h6>
                    <p>
                        As a primary colour, blue has been the most difficult for artists and scientists to create.
                    </p>
                    <p>
                        Artists have always been enhanced by blue, yet fine blues have long been difficult to obtain.
                        Blues are relatively
                        rare in nature, and painters throughout the ages have therefore found themselves at the mercy of
                        what contemporary chemical
                        technology could offer. Some blues have been prohibitively expensive,
                        others were unreliable. The quest for a good blue has driven some crucial technological
                        innovations,
                        showing that the interaction of art and science has not always been a one-way affair.</p>
                    <p>
                        The first pigments were simply ground-up coloured minerals dug from the earth. But few blue
                        minerals are suitable as pigments -
                        so there are no blues in cave art. Ancient Egyptian artists used blue prominently, however,
                        because they knew how to make a fine artificial pigment, now known as Egyptian blue.</p>
                    <p>
                        The discovery of Egyptian blue, like that of many other artificial pigments,
                        was almost certainly an accident. The Egyptians manufactured blue-glazed stones and ornaments
                        called faience using a
                        technique they inherited from the Mesopotamians. Faience manufacture was big business in the
                        ancient world-it was traded
                        all over Europe by 1500 BC. Faience is made by heating stone ornaments in a kiln with copper
                        minerals such as malachite.
                        Egyptian blue, which was made from at least 2500 BC, comes from firing chalk or limestone with
                        sand and copper minerals,
                        and probably appeared by the chance mixture of these ingredients in a faience kiln.</p>
                    <p>
                        Scientists recently deduced the secrets of another ancient blue: Maya blue, used for centuries
                        throughout central
                        America before the Spanish Conquest. This is a kind of clay - a mineral made of sheets of atoms
                        - with molecules of
                        the blue dye indigo wedged between the sheets. Using indigo in this way makes it less liable to
                        decompose.
                        No one has made colours this way since the Mayas, and no one knows exactly how they did it. But
                        technologists are now
                        interested in using the same trick to make stable pigments from other dyes.
                    </p>
                    <p>
                        As a result, ultramarine could cost more than its weight in gold, and medieval artists were very
                        selective in using it.
                        Painters since the Renaissance craved a cheaper, more accessible, blue to compare with
                        ultramarine. Things improved in 1704,
                        when a Berlin-based colour maker called Diesbach discovered the first "modern" synthetic
                        pigment: Prussian blue. Diesbach was trying
                        to make a red pigment, using a recipe that involved the alkali potash. But Diesbach's potash was
                        contaminated with animal oil,
                        and the synthesis did not work out as planned. Instead of red, Diesbach made blue.</p>
                    <p>
                        The oil had reacted to produce cyanide, a vital ingredient of Prussian blue. Diesbach kept his
                        recipe secret for many years,
                        but it was discovered and published in 1724, after which anyone could make the colour. By the
                        1750s,
                        it cost just a tenth of ultramarine. But it wasn't such a glorious blue, and painters still
                        weren't satisfied. They got a better
                        alternative in 1802, when the French chemist Louis Jacques Thenard invented cobalt blue.</p>

                    <p>
                        Best of all was the discovery in 1826 of a method for making ultramarine itself.
                        The French Society for the Encouragement of National Industry offered a prize of 6,000 francs in
                        1824
                        to anyone who could make artificial ultramarine at an affordable price. The Toulouse chemist
                        Jean-Baptiste Guimet was awarded the prize two years later,
                        when he showed that ultramarine could be made by heating china clay, soda, charcoal, sand and
                        sulphur in a furnace.
                        This meant that there was no longer any need to rely on the scarce natural source,
                        and ultramarine eventually became a relatively cheap commercial pigment (called French
                        ultramarine, as it was first mass-produced in Paris).</p>
                    <p>
                        In the 1950s, synthetic ultramarine became the source of what is claimed to be the world's most
                        beautiful blue. Invented by the French artist
                        Yves Klein in collaboration with a Parisian paint manufacturer, Edouard Adam, International
                        Klein Blue is a triumph of modern chemistry. Klein was
                        troubled by how pigments lost their richness when they were mixed with liquid binder to make a
                        paint. With Adam's help, he found that a synthetic resin,
                        thinned with organic solvents, would retain this vibrant texture in the dry paint layer. In
                        1957, Klein launched his new blue with a series of monochrome
                        paintings, and in 1960 he protected his invention with a patent.</p><br>

                    <br /><br />
                    <p><strong> Complete the summary below. Choose NO MORE THAN TWO WORDS from the passage for each
                            answer.
                        </strong>


                    <p> The colours used in cave paintings and other early art were made by 1) <input type="text"
                            class="ex-input" style="width:220px" id="q1"> <span id="s1"></span>

                        crushing. However, later artists have generally had to rely on the 2) <input type="text"
                            class="ex-input" style="width:220px" id="q2"> <span id="s2"></span>

                        of the day for their supplies of blue. Among the first examples of the widespread use of blue
                        was in 3)<input type="text" class="ex-input" style="width:220px" id="q3"> <span id="s3"></span>

                        art. Over the centuries, many more attempts to create acceptable blues have been made, some of
                        which have led to 4) <input type="text" class="ex-input" style="width:220px" id="q4"> <span
                            id="s4"></span>

                        significant.


                    </p>
                    <br>

                    <P>Q 2) You are what you speak Does your mother tongue really affect the way you see the world?
                    </P>
                    </strong>
                    </p>
                    </h6>
                    <p>
                        Does the language you speak influence the way you think? Does
                        it help define your world view? Anyone who has tried to master a foreign tongue has
                        at least thought about the possibility.
                    </p>
                    <p>
                        At first glance the idea seems perfectly plausible. Conveying even simple messages requires that
                        you make completely different observations depending on your language. Imagine being asked to
                        count some pens on a table. As an English speaker, you only have to count them and give the
                        number. But a Russian may need to consider the gender and a Japanese speaker has to take into
                        account their shape (long and cylindrical) as well,
                        and use the number word designated for items of that shape.</p>
                    <p>
                        On the other hand, surely pens are just pens, no matter what your language compels you to
                        specify about them? Little linguistic peculiarities, though amusing, don’t change the objective
                        world we are describing. So how can they
                        alter the way we think?</p>
                    <p>
                        Scientists and philosophers have been grappling with this thorny question for centuries. There
                        have always been those who argue that our picture of the Universe depends on our native tongue.
                        Since the 1960s, however, with the ascent of thinkers like Noam Chomsky, and a host of cognitive
                        scientists, the consensus has been that linguistic differences don’t really matter, that
                        language is a universal human trait, and that our ability to talk to one another owes more to
                        our shared genetics than to our varying cultures. But now the pendulum is beginning to swing the
                        other way as psychologists re-examine the question.</p>
                    <p>
                        A new generation of scientists is not convinced that language is innate and hard-wired into our
                        brain and they say that small, even apparently insignificant differences between languages do
                        affect the way speakers perceive the world. ‘The brain is shaped by experience,’ says Dan Slobin
                        of the University of California at Berkeley. ‘Some people argue that language just changes what
                        you attend to,’ says Lera Boroditsky of the Massachusetts Institute of Technology. ‘But what you
                        attend to changes what you encode and remember.’
                        In short, it changes how you think.
                    </p>
                    <p>
                        To start with the simplest and perhaps subtlest example, preparing to say something in
                        a particular language demands that you pay attention to certain things and ignore others.
                        In Korean, for instance, simply to say ‘hello’ you need to know if you’re older or younger than
                        the person you’re addressing. Spanish speakers have to decide whether they are on intimate
                        enough terms to call someone by the informal tu rather than the formal Usted. In Japanese,
                        simply deciding which form of the word ‘I’ to use demands complex calculations involving things
                        such as your gender, their gender and your relative status. Slobin argues that this process can
                        have a
                        huge impact on what we deem important and, ultimately, how we think about the world.</p>
                    <p>
                        Whether your language places an emphasis on an object’s shape, substance or function also seems
                        to affect your relationship with the world, according to John Lucy, a researcher at the Max
                        Planck Institute of Psycholinguistics in the Netherlands. He has compared American English with
                        Yucatec Maya, spoken in Mexico’s Yucatan Peninsula. Among the many differences between the two
                        languages is the way objects are classified. In English, shape is implicit in many nouns. We
                        think in terms of discrete objects, and it is only when we want to quantify amorphous things
                        like sugar that we employ units such as ‘cube’ or ‘cup’. But in Yucatec, objects tend to be
                        defined by separate words that describe shape. So, for example, ‘long banana’ describes the
                        fruit,
                        while ‘flat banana’ means the ‘banana leaf’ and ‘seated banana’ is the ‘banana tree’.</p>

                    <p>
                        To find out if this classification system has any far-reaching effects on how people think,
                        Lucy asked English- and Yucatec-speaking volunteers to do a likeness task. In one experiment,
                        he gave them three combs and asked which two were most alike. One was plastic with a handle,
                        another wooden with a handle, the third plastic without a handle. English speakers thought the
                        combs with handles were more alike, but Yucatec speakers felt the two plastic combs were. In
                        another test, Lucy used a plastic box, a cardboard box and a piece of cardboard. The Americans
                        thought the two boxes belonged together, whereas the Mayans chose the two cardboard items. In
                        other words,
                        Americans focused on form, while the Mayans focused on substance.</p>
                    <p>
                        Despite some criticism of his findings, Lucy points to his studies indicating that, at about the
                        age of eight,
                        differences begin to emerge that reflect language. ‘Everyone comes with the same possibilities,’
                        he says, ‘but there’s a tendency to make the world fi t into our linguistic categories.’
                        Boroditsky agrees, arguing that even artificial classification systems,
                        such as gender, can be important.</p>

                    <p>
                        Nevertheless, the general consensus is that while the experiments done by Lucy, Boroditsky and
                        others may be intriguing, they are not compelling enough to shift the orthodox view that
                        language does not have a strong bearing on thought or perception. The classic example used by
                        Chomskians to back this up is colour. Over the years many researchers have tried to discover
                        whether linguistic differences in categorising colours lead to differences in perceiving them.
                        Colours, after all, fall on a continuous spectrum, so we shouldn’t be surprised if one person’s
                        ‘red’ is another person’s ‘orange’. Yet most studies suggest that people agree on where the
                        boundaries are, regardless of the
                        colour terms used in their own language.</p><br>

                    <p><strong> Write the correct letter, A-E, in boxes on your answer sheet

                        </strong>
                    <p><strong>A</strong> Russian</p>
                    <p><strong>B</strong> Japanese</p>
                    <p><strong>C</strong> Korean</p><br>
                    <p><strong>D</strong> Spanish</p><br>
                    <p><strong>E</strong> Yucatec Maya</p><br>


                    <p><strong>5.</strong> the importance of the relative age of speakers <input type="text"
                            class="ex-input" style="width:220px" id="q5"> <span id="s5"></span>
                    </p>
                    <p><strong>6.</strong> the use of adjectives to distinguish the names of objects or things <input
                            type="text" class="ex-input" style="width:220px" id="q6"> <span id="s6"></span>
                    </p>
                    <p><strong>7.</strong> a need to use some numbers with the correct gender<input type="text"
                            class="ex-input" style="width:220px" id="q7"> <span id="s7"></span>
                    </p>
                    <p><strong>8.</strong> a relationship between form and number <input type="text" class="ex-input"
                            style="width:220px" id="q8"> <span id="s8"></span>
                    </p>
                    <p><strong>9.</strong>the need to know how friendly your relationship is with the person you are
                        addressing <input type="text" class="ex-input" style="width:220px" id="q9"> <span
                            id="s9"></span>
                    </p>

                    <br><!--end of questions-->
					
					
					
					
                    <button id="b2" type="button" class="btn btn-outline-info" onclick="toggle()">
                        <img height="25px" src="/static/images/show.png" style="vertical-align: middle" />Show answers</button>

                    <div id="answers" style="display:none;" class="hint">
                        <p><strong>ANSWERS</strong></p>
                        <p><strong>stage 2</strong></p>
                        <ol start="1">
                            <li>minerals/ coloured minerals / colored minerals</li>
                            <li>technology / chemical technology / science </li>
                            <li>Egyptian / Ancient Egyptian</li>
                            <li>technological innovations.</li>
							<li>C</li>
							<li>E</li>
							<li>A</li>
							<li>B</li>
							<li>D</li>
                            
                        </ol>

                    </div>
                </div> <br /> <br />
                <div id="result" align="center"> </div>
                <div align="center">
                    &emsp;

                    <button class="btn btn-primary btn-sm " type="button" onclick="check()">Check</button> &emsp;
                    <a href="/reading/go_home" class="btn btn-primary btn-sm ">Home</a>

                </div>
</body>
<script>
<!-- function declairation for check answers-->
    function check() {

var score;
score = 0;

var q1, q2, q3;

q1 = document.getElementById("q1").value;
if ((q1.trim().toLowerCase() != "minerals") && (q1.trim().toLowerCase() != "coloured minerals") && (q1.trim().toLowerCase() != "colored minerals")) { document.getElementById("s1").innerHTML = '<img height=20px src="/static/images/wrong.png" />'; }
else { document.getElementById("s1").innerHTML = '<img height=20px src="correct.png" />'; score++; }

q2 = document.getElementById("q2").value;
if ((q2.trim().toLowerCase() != "technology") && (q2.trim().toLowerCase() != "chemical technology") && (q2.trim().toLowerCase() != "science")) { document.getElementById("s2").innerHTML = '<img height=20px src="/static/images/wrong.png" />'; }
else { document.getElementById("s2").innerHTML = '<img height=20px src="correct.png" />'; score++; }


q3 = document.getElementById("q3").value;
if ((q3.trim().toLowerCase() != "Egyptian") && (q3.trim().toLowerCase() != "Ancient Egyptian")) { document.getElementById("s3").innerHTML = '<img height=20px src="wrong.png" />'; }
else { document.getElementById("s3").innerHTML = '<img height=20px src="correct.png" />'; score++; }

var q = ['technological innovations.', 'c', 'e', 'a', 'b', 'd'];
for (var i = 4; i < 10; i++) {
    q1 = document.getElementById("q" + i).value;
    if (q1.trim().toLowerCase() != q[i - 4]) { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
    else { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }
}
setCookie("fourth", score, 3);
document.getElementById("result").innerHTML =
    "<div class='result'>Your result for this quiz " + score + "/9 </div>";
}



    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }



    function toggle() {
        var e = document.getElementById("answers");
        if (e.style.display == 'block') {
            document.getElementById("b2").innerHTML = ' <img height="25px" src="/static/images/show.png" style="vertical-align: middle"  /> Show answers';
            e.style.display = 'none';
        }
        else {
            document.getElementById("b2").innerHTML = '<img height="25px" src="/static/images/hide.png" style="vertical-align: middle"  /> Hide answers';
            e.style.display = 'block';
        }
    }
</script>
{% endblock content %}