{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Reading</h5>
        </div>
    </div>
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <div class="card-body">
                    <h6 class="card-title">
					<!-- Comprehension skills improvement plan-->
					<p><strong>Let’s Improve Your Reading for main idea skills.</P>
                        <P> Q 1) The Birth of Blue</P>
							</strong>
                        </p>
                    </h6>
                    <p>
                        As a primary colour, blue has been the most difficult for artists and scientists to create.
					</p>
                    <p>
                        Artists have always been enhanced by blue, yet fine blues have long been difficult to obtain. Blues are relatively 
						rare in nature, and painters throughout the ages have therefore found themselves at the mercy of what contemporary chemical
						technology could offer. Some blues have been prohibitively expensive, 
						others were unreliable. The quest for a good blue has driven some crucial technological innovations, 
						showing that the interaction of art and science has not always been a one-way affair.</p>
                    <p>
                        The first pigments were simply ground-up coloured minerals dug from the earth. But few blue minerals are suitable as pigments - 
						so there are no blues in cave art. Ancient Egyptian artists used blue prominently, however, 
						because they knew how to make a fine artificial pigment, now known as Egyptian blue.</p>
                    <p>
                        The discovery of Egyptian blue, like that of many other artificial pigments,
						was almost certainly an accident. The Egyptians manufactured blue-glazed stones and ornaments called faience using a 
						technique they inherited from the Mesopotamians. Faience manufacture was big business in the ancient world-it was traded 
						all over Europe by 1500 BC. Faience is made by heating stone ornaments in a kiln with copper minerals such as malachite.
						Egyptian blue, which was made from at least 2500 BC, comes from firing chalk or limestone with sand and copper minerals,
						and probably appeared by the chance mixture of these ingredients in a faience kiln.</p>
                    <p>
                        Scientists recently deduced the secrets of another ancient blue: Maya blue, used for centuries throughout central 
						America before the Spanish Conquest. This is a kind of clay - a mineral made of sheets of atoms - with molecules of 
						the blue dye indigo wedged between the sheets. Using indigo in this way makes it less liable to decompose. 
						No one has made colours this way since the Mayas, and no one knows exactly how they did it. But technologists are now 
						interested in using the same trick to make stable pigments from other dyes.
                    </p>
                    <p>
                        As a result, ultramarine could cost more than its weight in gold, and medieval artists were very selective in using it. 
						Painters since the Renaissance craved a cheaper, more accessible, blue to compare with ultramarine. Things improved in 1704, 
						when a Berlin-based colour maker called Diesbach discovered the first "modern" synthetic pigment: Prussian blue. Diesbach was trying
						to make a red pigment, using a recipe that involved the alkali potash. But Diesbach's potash was contaminated with animal oil, 
						and the synthesis did not work out as planned. Instead of red, Diesbach made blue.</p>
                    <p>
                        The oil had reacted to produce cyanide, a vital ingredient of Prussian blue. Diesbach kept his recipe secret for many years, 
						but it was discovered and published in 1724, after which anyone could make the colour. By the 1750s, 
						it cost just a tenth of ultramarine. But it wasn't such a glorious blue, and painters still weren't satisfied. They got a better 
						alternative in 1802, when the French chemist Louis Jacques Thenard invented cobalt blue.</p>

                    <p>
                        Best of all was the discovery in 1826 of a method for making ultramarine itself. 
						The French Society for the Encouragement of National Industry offered a prize of 6,000 francs in 1824 
						to anyone who could make artificial ultramarine at an affordable price. The Toulouse chemist Jean-Baptiste Guimet was awarded the prize two years later, 
						when he showed that ultramarine could be made by heating china clay, soda, charcoal, sand and sulphur in a furnace. 
						This meant that there was no longer any need to rely on the scarce natural source,
						and ultramarine eventually became a relatively cheap commercial pigment (called French ultramarine, as it was first mass-produced in Paris).</p>
						<p>
                        In the 1950s, synthetic ultramarine became the source of what is claimed to be the world's most beautiful blue. Invented by the French artist 
						Yves Klein in collaboration with a Parisian paint manufacturer, Edouard Adam, International Klein Blue is a triumph of modern chemistry. Klein was 
						troubled by how pigments lost their richness when they were mixed with liquid binder to make a paint. With Adam's help, he found that a synthetic resin, 
						thinned with organic solvents, would retain this vibrant texture in the dry paint layer. In 1957, Klein launched his new blue with a series of monochrome 
						paintings, and in 1960 he protected his invention with a patent.</p><br>


                    <p><strong> Look at the following notes that have been made about the types of blue described in Reading Passage.
							Match each description with a type of blue.

                        </strong>
                    <p><strong>A</strong> Egyptian blue</p>
                    <p><strong>B</strong> Maya blue</p>
                    <p><strong>C</strong> Cultramarine</p><br>
					<p><strong>D</strong> Prussian blue</p><br>
					<p><strong>E</strong> cobalt blue</p><br>
					<p><strong>F</strong> French ultramarine</p><br>
					<p><strong>G</strong> International Klein Blue</p><br>

                    <p><strong>1.</strong> derived from a scarce natural resource   <input
                            type="text" class="ex-input" style="width:220px" id="q1"> <span id="s1"></span>
                    </p>
                    <p><strong>2.</strong> specially designed to retain its depth of colour when used in paint   <input type="text" class="ex-input" style="width:220px" id="q2"> <span id="s2"></span>
                    </p>
                    <p><strong>3.</strong> was cheap to produce but had limited appeal for artists   <input
                            type="text" class="ex-input" style="width:220px" id="q3"> <span id="s3"></span>
                    </p>
                    <p><strong>4.</strong> made using a technique which is not yet fully understood  <input type="text"
                            class="ex-input" style="width:220px" id="q4"> <span id="s4"></span>
                    </p>
                    <p><strong>5.</strong>thought to have been produced during another manufacturing process   <input
                            type="text" class="ex-input" style="width:220px" id="q5"> <span id="s5"></span>
                    </p>
                    <p><strong>6.</strong> came to be manufactured inexpensively in large quantities  <input type="text" class="ex-input" style="width:220px" id="q6"> <span
                            id="s6"></span>
                    </p>
                    <br>
					
					<P> Q 2) </P>
							</strong>
                        </p>
                    </h6>
                    <p>
                        As a primary colour, blue has been the most difficult for artists and scientists to create.
					</p>
                    <p>
						<strong>A</strong>
                        Despite its bad reputation, stress historically had a vital role to play.
						Commonly referred to as the ‘fight or flight’ mode, the sudden release of stress hormones 
						like adrenalin and cortisol causes the heart to beat faster, airways to dilate and blood vessels 
						to open up, all of which push the body towards optimal performance and, ultimately, survival.
						In the rest of the animal kingdom, this is still often the difference between life and death.
						As he springs off to freedom, the lucky gazelle who escapes the lion can thank this primal
						evolutionary response.</p>
                    <p>
                        <strong>B</strong>
						In ordinary modern life, although we’re in little danger of being stalked by wild beasts down city streets, 
						our bodies react to stress in the same ways. Experiencing anxiety, fear and stress is considered a normal part 
						of life when it is occasional and temporary, such as feeling anxious and stressed before an exam or a job interview.
						It is when these acute reactions are prolonged or cannot be switched off, however, that serious physical, social and cognitive issues can result. In contrast to the normal everyday stress of modern life, chronic stress is a pathological state which can significantly interfere with daily living activities such as work, 
						school and relationships, wreaking havoc on the body’s immune, metabolic and cardiovascular systems.</P>
</p>
                    <p>
						<strong>C</strong>
                        Of major concern is the impact on the brain. Researchers have found that the hippocampus, 
						the control centre of memory and our ability to learn, can physically shrink in response to prolonged release of stress hormones like cortisol which result from chronic stress. Neurons in this area do not just get smaller, but actually die, which weakens the neural connections, affecting the way memories are organised and stored in the brain. A chronically stressed person would recognise this as a ‘brain fog’,
						and it also has ramifications for other areas such as creativity and adaptability.</p>
                    <p>
						<strong>D</strong>
                        While this part of the brain gets smaller, another area, the amygdala, which is involved in processing emotions, 
						can grow with chronic stress. Across species, a larger amygdala has been found to correlate with aggression and this, 
						coupled with the weakened connection to the prefrontal cortex, the brain’s decision-making centre, can profoundly impact
						mood and behaviour. With the link between emotions and decision-making compromised, a person is much less able to stop and reflect, becoming instead reactive and short-fused. Think of the difference 
						between being able to tolerate a screaming child and instead giving in to the desire to scream back.</p>
                    <p>
						<strong>E</strong>
                        In the past, it was accepted that there was a limited number of neurons in the brain and 
						as they died off as a result of ageing, stress or substance abuse, for instance, they were 
						lost forever. It turns out, however, that this is not the case and that stem cells within the brain 
						are actually able to create new neurons. In other words, lost neurons can be replaced. What makes this discovery even more powerful is the fact that replenishing neurons is rather straightforward. One of the most powerful stimulants for neuron growth is physical activity. So, in addition to its role in the reduction of stress hormones in the first place, and its ability to stimulate the release of endorphins,
						exercise has now been shown to contribute to the repair of the chronically stressed brain.</p>
                    <br>
					
					<p>Match each description with a topic.</p>
					<p> i Effect of city life on mental health</p>
                    <p> ii Stress reduction in animals</p>
					<p> iii Two types of stress</p>
					<p> iv The fallout of cell death</p>
					<p> v The best type of exercise</p>
					<p> vi How stress can be useful</p>
					<p> vii Managing stress in job interviews</p>
					<p> viii One reason behind bad tempers</p>
					<p> ix Neuron loss in childhood</p>
					<p> x Regrowing the brain with exercise</p><br>

                    <p><strong>7.</strong> Paragraph A  <input
                            type="text" class="ex-input" style="width:220px" id="q7"> <span id="s7"></span>
                    </p>
                    <p><strong>8.</strong> Paragraph B <input type="text" class="ex-input" style="width:220px" id="q8"> <span id="s8"></span>
                    </p>
                    <p><strong>9.</strong> Paragraph C  <input
                            type="text" class="ex-input" style="width:220px" id="q9"> <span id="s9"></span>
                    </p>
                    <p><strong>10.</strong> Paragraph D  <input type="text"
                            class="ex-input" style="width:220px" id="q10"> <span id="s10"></span>
                    </p>
                    <p><strong>11.</strong>Paragraph E  <input
                            type="text" class="ex-input" style="width:220px" id="q11"> <span id="s11"></span>
                    </p>
					<br>
                    
					<P> Q 3) </P>
							</strong>
                        </p>
                    </h6>
                    
                    <p>
						<strong>A</strong>
                         A.	The Yoruba people of Nigeria classify their towns in two ways. Permanent towns with their 
						own governments are called “ilu”, whereas temporary settlements, set up to support work in the 
						country are “aba”. Although ilu tend to be larger than aba, the distinction is not one of size, 
						some aba are large, while declining ilu can be small,
						but of purpose. There is no “typical” Yoruba town, but some features are common to most towns.</p>
                    <p>
                        <strong>B</strong>
						B.	  In the 19th century most towns were heavily fortified and the foundations of these 
						walls are sometimes visible. Collecting tolls to enter and exit through the walls was a major 
						source of revenue for the old town rulers, as were market fees. The markets were generally located 
						centrally and in small towns, while in large towns there were permanent stands made of corrugated
						iron or concrete.
						The market was usually next to the local ruler’s palace.</P>
</p>
                    <p>
						<strong>C</strong>
                        C.	The palaces were often very large. In the 1930’s, the area of Oyo’s palace covered 17 acres,
						and consisted of a series of courtyards surrounded by private and public rooms. 
						After colonisation, many of the palaces were completely or partially demolished.
						Often the rulers built two storey houses for themselves using some 
						of the palace grounds for government buildings.</p>
                    <p>
						<strong>D</strong>
                        D.	The town is divided into different sections. In some towns these are regular,
						extending out from the center of the town like spokes on a wheel, while in others, 
						where space is limited, they are more random. The different areas are further divided 
						into compounds called “ile”. These vary in size considerably from single dwellings to up 
						to thirty houses. They tend to be larger in the North. Large areas are devoted to government 
						administrative buildings. Newer developments such as industrial
						or commercial areas or apartment housing for civil servants tends to be build on 
						the edge of the town.</p>
                    <p>
						<strong>E</strong>
                        E.	Houses are rectangular and either have a courtyard in the center or the rooms come off a
						central corridor. Most social life occurs in the courtyard. They are usually built of hardened
						mud and have roofs of corrugated iron or, in the countryside, thatch. Buildings of this material
						are easy to alter, either by knocking down rooms or adding new ones. And can be improved by coating
						the walls with cement. Richer people often build their houses of concrete blocks and, if they can
						afford to, build two storey houses. Within compounds there can be quite a mixture of building types. Younger well-educated people may have well
						furnished houses while their older relatives live in mud walled buildings and sleep on mats on the
						floor.</p>
						<p>
						<strong>D</strong>
						F.	The builder or the most senior man gets a room either near the entrance or, 
						in a two storied house, next to the balcony. He usually has more than one room. Junior men get a room each and 
						there are separate rooms for teenage boys and girls to sleep in. Younger children sleep with their mothers. 
						Any empty room are used as storage,
						let out or, if they face the street, used as shops..</p>
                    <p>
						<strong>E</strong>
                        G.	Amenities vary. In some towns most of the population uses communal water taps and only 
						the rich have piped water, in others piped water is more normal. Some areas have toilets, 
						but bucket toilets are common with waste being collected by
						a “night soil man”. Access to water and electricity are key political issues.</p>
                    <br>
					<br>
					<p>Match each description with a topic.</p>
					<p> i Town facilities</p>
                    <p> ii Colonisation</p>
					<p> iii Urban divisions</p>
					<p> iv Architectural home styles</p>
					<p> v Types of settlements</p>
					<p> vi Historical foundations</p>
					<p> vii Domestic arrangements</p>
					<p> viii City defenses</p>
					<p> ix The residences of the rulers</p>
					<p> x Government buildings</p><br>

                    <p><strong>12.</strong> Paragraph B  <input
                            type="text" class="ex-input" style="width:220px" id="q12"> <span id="s12"></span>
                    </p>
                    <p><strong>13.</strong> Paragraph C <input type="text" class="ex-input" style="width:220px" id="q13"> <span id="s13"></span>
                    </p>
                    <p><strong>14.</strong> Paragraph D  <input
                            type="text" class="ex-input" style="width:220px" id="q14"> <span id="s14"></span>
                    </p>
                    <p><strong>15.</strong> Paragraph E <input type="text"
                            class="ex-input" style="width:220px" id="q15"> <span id="s15"></span>
                    </p>
                    <p><strong>16.</strong>Paragraph F  <input
                            type="text" class="ex-input" style="width:220px" id="q16"> <span id="s16"></span>
                    </p>
					<p><strong>17.</strong>Paragraph G  <input
                            type="text" class="ex-input" style="width:220px" id="q17"> <span id="s17"></span>
                    </p>
					<br>
					
					<P> Q 4) The US City and the Natural Environment</P>
							</strong>
                        </p>
                    </h6>
                    
                    <p>
						<strong>A</strong>
                        While cities and their metropolitan areas have always interacted with and shaped the natural environment, 
						it is only recently that historians have begun to consider this relationship. During our own time, the tension 
						between natural and urbanized areas has increased, as the spread of metropolitan 
						populations and urban land uses has reshaped and destroyed natural landscapes and environments.</p>
                    <p>
                        <strong>B</strong>
						The relationship between the city and the natural environment has actually been circular,
						with cities having massive effects on the natural environment, while the natural environment,
						in turn, has profoundly shaped urban configurations. Urban history is filled with stories about 
						how city dwellers contended with the forces of nature that threatened their lives. Nature not only 
						caused many of the annoyances of daily urban life, such as bad weather and pests, but it also gave 
						rise to natural disasters and catastrophes such as floods, fires, and earthquakes. In order 
						to protect themselves and their settlements against the forces of nature, cities built many 
						defences including flood walls and dams, earthquake-resistant buildings, and storage places 
						for food and water. At times, such protective steps sheltered urbanites against the worst natural 
						furies, but often their own actions – such as building under the shadow of volcanoes,
						or in earthquake-prone zones – exposed them to danger from natural hazards.</P>
</p>
                    <p>
						<strong>C</strong>
                        City populations require food, water, fuel, and construction materials, 
						while urban industries need natural materials for production purposes. In order to 
						fulfill these needs, urbanites increasingly had to reach far beyond their boundaries. 
						In the nineteenth century, for instance, the demands of city dwellers for food produced 
						rings of garden farms around cities. In the twentieth century, as urban populations increased, 
						the demand for food drove the rise of large factory farms. Cities also require fresh water supplies 
						in order to exist – engineers built waterworks, dug wells deeper and deeper into the earth looking 
						for groundwater, and dammed and diverted rivers to obtain water supplies for 
						domestic and industrial uses. In the process of obtaining water from distant locales, 
						cities often transformed them,
						making deserts where there had been fertile agricultural areas.”</p>
                    <p>
						<strong>D</strong>
                        Urbanites had to seek locations to dispose of the wastes they produced. Initially, 
						they placed wastes on sites within the city, polluting the air, land, and water with
						industrial and domestic effluents. As cities grew larger, they disposed of their wastes by 
						transporting them to more distant locations. Thus, cities constructed sewerage systems for
						domestic wastes. They usually discharged the sewage into neighbouring waterways, often polluting 
						the water supply of downstream cities.
						The air and the land also became dumps for waste disposal.
						In the late nineteenth century, coal became the preferred fuel for industrial, transportation, and domestic use. But while providing an inexpensive and plentiful energy supply, coal was also very dirty. The cities that used it suffered from air contamination and reduced sunlight, while the cleaning tasks of householders were greatly increased.
</p>
                    <p>
						<strong>E</strong>
                        In the late nineteenth and early twentieth centuries, reformers began demanding urban environmental
						cleanups and public health improvements. Women's groups often took the lead in agitating for clean
						air and clean water, showing a greater concern than men in regard to quality of life and 
						health-related issues. The replacement of the horse, first by electric trolleys and then by 
						the car, brought about substantial improvements in street and air sanitation. The movements 
						demanding clean air, however, and reduction of waterway pollution were largely unsuccessful.
						On balance, urban sanitary conditions were probably somewhat better in the 1920s than in the 
						late nineteenth century, but the cost of improvement often was the exploitation of urban 
						hinterlands for water supplies, increased downstream water pollution, and growing automobile
						congestion and pollution.</p>
						<p>
						<strong>F</strong>
						In the decades after the 1940s, city environments suffered from heavy pollution as they sought to cope with 
						increased automobile usage, pollution from industrial production, new varieties of chemical pesticides and the
						wastes of an increasingly consumer-oriented economy. Cleaner fuels and smoke control laws largely freed cities during the 1940s and 1950s of the dense smoke that they had previously suffered from. Improved urban air quality resulted largely from the substitution of natural gas and oil for coal and the replacement of the steam locomotive by the diesel-electric. However, great increases in automobile usage in some larger 
						cities produced the new phenomenon of smog, and air pollution replaced smoke as a major concern.</p>
                    <p>
						<strong>G</strong>
                        During these decades, the suburban out-migration, which had begun in the nineteenth century with 
						commuter trains and streetcars and accelerated because of the availability and convenience of the automobile, 
						now increased to a torrent, putting major strains on the formerly rural and undeveloped metropolitan fringes.
						To a great extent, suburban layouts ignored environmental considerations, making little provision for open space, producing endless rows of resource-consuming and fertilizer-dependent lawns, contaminating groundwater through leaking septic tanks, and absorbing excessive amounts of fresh water and energy. The growth of the outer city since the 1970s reflected a continued preference on the part of many people in the western world for space-intensive single-family houses surrounded by lawns, for private automobiles over public transit, and for the development of previously untouched areas. Without better planning for land use and environmental protection, 
						urban life will, as it has in the past, continue to damage and stress the natural environment.</p>
                   
					
                    <br>
					
					<p>Choose the correct heading for sections from the list of headings below.</p>
					<p>iLegislation brings temporary improvements</p>
					<p>iiThe increasing speed of suburban development</p>
                    <p>iiiA new area of academic interest</p>
					<p>ivThe impact of environmental extremes on city planning</p>
					<p>vThe first campaigns for environmental change</p>
					<p>viBuilding cities in earthquake zones</p>
					<p>viiThe effect of global warming on cities</p>
					<p>viiiAdapting areas surrounding cities to provide resources</p>
					<p>ixRemoving the unwanted by-products of city life</p>
					<p>xProviding health information for city dwellers</p>
					<br>
					<p><strong>18.</strong> Paragraph A  <input
                            type="text" class="ex-input" style="width:220px" id="q18"> <span id="s18"></span>
                    </p>
                    <p><strong>19.</strong> Paragraph B <input type="text" class="ex-input" style="width:220px" id="q19"> <span id="s19"></span>
                    </p>
                    <p><strong>20.</strong> Paragraph C  <input
                            type="text" class="ex-input" style="width:220px" id="q20"> <span id="s20"></span>
                    </p>
                    <p><strong>21.</strong> Paragraph D <input type="text"
                            class="ex-input" style="width:220px" id="q21"> <span id="s21"></span>
                    </p>
                    <p><strong>22.</strong>Paragraph E  <input
                            type="text" class="ex-input" style="width:220px" id="q22"> <span id="s22"></span>
                    </p>
					<p><strong>23.</strong>Paragraph F  <input
                            type="text" class="ex-input" style="width:220px" id="q23"> <span id="s23"></span>
                    </p>
					<p><strong>24.</strong>Paragraph G  <input
                            type="text" class="ex-input" style="width:220px" id="q24"> <span id="s24"></span>
                    </p>
					
					<br>
					
					
					
					<P> Q 5) Light polution</P>
							</strong>
                        </p>
                    </h6>
                    
                    <p>
						<strong>A</strong>
                        After hours of driving south in the pitch-black darkness of the Nevada desert, a dome of hazy gold suddenly 
						appears on the horizon. Soon, a road sign confirms the obvious: Las Vegas 30 miles. 
						Looking skyward, you notice that the Big Dipper is harder to find than it was an hour ago.</p>
                    <p>
                        <strong>B</strong>
						Light pollution—the artificial light that illuminates more than its intended target area—has 
						become a problem of increasing concern across the country over the past 15 years. In the suburbs, 
						where over-lit shopping mall parking lots are the norm, only 200 of the Milky Way’s 2,500 stars are 
						visible on a clear night. Even fewer can be seen from large cities. In almost every town, big and small,
						street lights beam just as much light up and out as they do down, illuminating much more than just the street. Almost 50 percent of the light emanating from street lamps misses its intended target, and billboards, 
						shopping centres, private homes and skyscrapers are similarly over-illuminated.</P>
</p>
                    <p>
						<strong>C</strong>
                        America has become so bright that in a satellite image of the United States at night, 
						the outline of the country is visible from its lights alone. The major cities are all there, 
						in bright clusters: New York, Boston, Miami, Houston, Los Angeles, Seattle, Chicago, and,
						of course, Las Vegas. Mark Adams, superintendent of the McDonald Observatory in west Texas, 
						says that the very fact that city lights are visible from on high is proof of their wastefulness. 
						“When you’re up in an airplane, all that light you see on the ground from the city is wasted.
						It’s going up into the night sky. That’s why you can see it.”</p>
                    <p>
						<strong>D</strong>
                        But don’t we need all those lights to ensure our safety? The answer from light engineers, 
						light pollution control advocates and astronomers is an emphatic “no.” Elizabeth Alvarez of
						the International Dark Sky Association (IDA), a non-profit organization in Tucson, Arizona,
						says that overly bright security lights can actually force neighbours to close the shutters,
						which means that if any criminal activity does occur on the street, no one will see it.
						And the old assumption that bright lights deter crime appears to have been a false one: 
						A new Department of Justice report concludes that there is no documented correlation between 
						the level of lighting and the level of crime in an area. And contrary
						to popular belief, more crimes occur in broad daylight than at night.</p>
                    <p>
						<strong>E</strong>
                        For drivers, light can actually create a safety hazard. Glaring lights can temporarily blind drivers, 
						increasing the likelihood of an accident. To help prevent such accidents, some cities and states prohibit 
						the use of lights that impair night-time vision. For instance, New Hampshire law forbids the use of “any light along a 
						highway so positioned as to blind or dazzle the vision of travellers on the adjacent highway.”</p>
						<p>
						<strong>F</strong>
						Badly designed lighting can pose a threat to wildlife as well as people. Newly hatched turtles 
						in Florida move toward beach lights instead of the more muted silver shimmer of the ocean. Migrating birds, 
						confused by lights on skyscrapers, broadcast towers and lighthouses, are injured, sometimes fatally, after
						colliding with high, lighted structures. And light pollution harms air quality as well: Because most of the country’s 
						power plants are still powered by fossil fuels, more light means more air pollution.</p>
                    <p>
						<strong>G</strong>
                        So what can be done? Tucson, Arizona is taking back the night. The city has one of the best
						lighting ordinances in the country, and, not coincidentally, the highest 
						concentration of observatories in the world. Kitt Peak National Optical Astronomy 
						Observatory has 24 telescopes aimed skyward around the city’s perimeter, and its cadre of 
						astronomers needs a dark sky to work with.</p>
                    <br>
					<p>
						<strong>H</strong>
                        For a while, that darkness was threatened. “We were totally losing the night sky,
						” Jim Singleton of Tucson’s Lighting Committee told Tulsa, Oklahoma’s KOTV last March.
						Now, after retrofitting inefficient mercury lighting with low-sodium lights that block light from 
						“trespassing” into unwanted areas like bedroom windows, and by doing away with some unnecessary 
						lights altogether, the city is softly glowing rather than brightly beaming. The same thing is 
						happening in a handful of other states, including Texas, which just passed a light pollution bill 
						last summer. “Astronomers can get what they need at the same time that citizens get what they need:
						safety, security and good visibility at night,” says McDonald Observatory’s Mark Adams,
						who provided testimony at the hearings for the bill.</p>
						<p>
						<strong>I</strong>
						And in the long run, everyone benefits from reduced energy costs. Wasted energy from inefficient 
						lighting costs us between $1 and $2 billion a year, according to IDA. The city of San Diego, 
						which installed new, high-efficiency street lights after passing a light pollution law in 1985,
						now saves 
						about $3 million a year in energy costs.</p>
                    <p>
						<strong>J</strong>
                        Legislation isn’t the only answer to light pollution problems. 
						Brian Greer, Central Ohio representative for the Ohio Light Pollution Advisory Council,
						says that education is just as important, if not more so. “There are some special situations 
						where regulation is the only fix,” he says. “But the vast majority of bad lighting is simply the 
						result of not knowing any better.” Simple actions like replacing old bulbs and fixtures with more 
						efficient and better-designed ones can make a big difference in preserving the night sky.
						*The Big Dipper: a group of seven bright stars visible in the Northern Hemisphere.
</p>
                    <br>
					
					<p>Choose the correct heading for sections A-G from the list of headings below.</p>
					<p>i  Why lights are needed</p>
					<p>ii Lighting discourages law breakers</p>
                    <p>iiiThe environmental dangers</p>
					<p>ivPeople at risk from bright lights</p>
					<p>vIlluminating space</p>
					<p>viA problem lights do not solve</p>
					<p>viiSeen from above</p>
					<p>viiiMore light than is necessary</p>
					<p>ixApproaching the city</p>
					<br>
					<p><strong>25.</strong> Paragraph B  <input
						type="text" class="ex-input" style="width:220px" id="q25"> <span id="s25"></span>
				</p>
				<p><strong>26.</strong> Paragraph C <input type="text" class="ex-input" style="width:220px" id="q26"> <span id="s26"></span>
				</p>
				<p><strong>27.</strong> Paragraph D  <input
						type="text" class="ex-input" style="width:220px" id="q27"> <span id="s27"></span>
				</p>
				<p><strong>28.</strong> Paragraph E <input type="text"
						class="ex-input" style="width:220px" id="q28"> <span id="s28"></span>
				</p>
				<p><strong>29.</strong>Paragraph F  <input
						type="text" class="ex-input" style="width:220px" id="q29"> <span id="s29"></span>
				</p><!--end of questions-->
					
					
                    <button id="b2" type="button" class="btn btn-outline-info" onclick="toggle()">
                        <img height="25px" src="/static/images/show.png" style="vertical-align: middle" />Show answers</button>

						<!-- answers-->
                    <div id="answers" style="display:none;" class="hint">
                        <p><strong>ANSWERS</strong></p>
                        <p><strong>stage 2</strong></p>
                        <ol start="1">
                            <li>C</li>
                            <li>G</li>
                            <li>D</li>
                            <li>B</li>
                            <li>A</li>
                            <li>F</li>
							<li>vi</li>
                            <li>iii</li>
                            <li>iv</li>
                            <li>viii</li>
                            <li>x</li>
							<li>vi</li>
							<li>ix</li>
							<li>iii</li>
							<li>iv</li>
							<li>vii</li>
							<li>i</li>
							<li>iii</li>
							<li>iv</li>
							<li>viii</li>
							<li>ix</li>
							<li>v</li>
							<li>i</li>
							<li>ii</li>
							<li>viii</li>
							<li>vii</li>
							<li>vi</li>
							<li>iv</li>
							<li>iii</li>
							
                        </ol>

                    </div>
                </div> <br /> <br />
                <div id="result" align="center"> </div>
                <div align="center">
                    &emsp;

					<button class="btn btn-primary btn-sm " type="button" onclick="check()">Check</button> &emsp;
					<a href="/reading/go_home" class="btn btn-primary btn-sm ">Home</a>

                </div>
</body>
<script>
<!-- function declairation for check answers-->
    function check() {

        var q1, text, text2, score; score = 0;

        var q = ['c', 'g', 'd', 'b', 'a' , 'f', 'vi', 'iii', 'iv', 'viii', 'x', 'vi' ,'ix' ,'iii','iv', 'vii', 'i', 'iii','iv','viii','ix','v','i','ii','viii', 'vii' ,'vi', 'iv' ,'iii'];
        for (var i = 1; i < 30; i++) {
            q1 = document.getElementById("q" + i).value;
            if (q1.trim().toLowerCase() != q[i - 1]) { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
            else { document.getElementById("s" + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }
        }


        setCookie("fourth", score, 3);
        document.getElementById("result").innerHTML =
            "<div class='result'>Your result for this quiz " + score + "/10 </div>";
    }



    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }
    function toggle() {
        var e = document.getElementById("answers");
        if (e.style.display == 'block') {
            document.getElementById("b2").innerHTML = ' <img height="25px" src="/static/images/show.png" style="vertical-align: middle"  /> Show answers';
            e.style.display = 'none';
        }
        else {
            document.getElementById("b2").innerHTML = '<img height="25px" src="/static/images/hide.png" style="vertical-align: middle"  /> Hide answers';
            e.style.display = 'block';
        }
    }
</script>
{% endblock content %}