{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center mt-3">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">{{ legend }}</div>
      <div class="card-body">
        <form method="post" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="form-group row">
            {{ form.title.label(class_="col-md-3 col-form-label
            text-md-right")}} {% if form.title.errors %} {{
            form.title(class="form-control col-md-5 is-invalid")}}
            <div class="invaild-feedback col-md-3 text-danger">
              {% for error in form.title.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% else %} {{ form.title(class_="form-control col-md-6")}}{% endif
            %}
          </div>
          <div class="form-group row">
            {{form.content.label(class_="col-md-3 col-form-label
            text-md-right")}} {% if form.content.errors %}
            {{form.content(class="form-control col-md-5 is-invalid")}}
            <div class="invaild-feedback col-md-3 text-danger">
              {% for error in form.content.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% else %} {{ form.content(class_="form-control col-md-6")}} {%endif
            %}
          </div>
          <div class="form-group row">
            <div class="offset-md-3">
              {{ form.submit(class="btn btn-primary")}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
