{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-10 mt-3">
    <div class="card">
      <div class="card-header">Register Form</div>
      <div class="card-body">
        <form method="post" action="">
          {{ form.hidden_tag() }}
          <div class="form-group row">
            {{ form.firstname.label(class_="col-md-4 col-form-label
            text-md-right")}} {% if form.firstname.errors %} {{
            form.firstname(class="form-control col-md-5 is-invalid")}}
            <div class="invaild-feedback col-md-3 text-danger">
              {% for error in form.firstname.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% else %} {{ form.firstname(class_="form-control col-md-5")}}{%
            endif %}
          </div>
          <div class="form-group row">
            {{form.lastname.label(class_="col-md-4 col-form-label
            text-md-right")}} {% if form.lastname.errors %}
            {{form.lastname(class="form-control col-md-5 is-invalid")}}
            <div class="invaild-feedback col-md-3 text-danger">
              {% for error in form.lastname.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% else %} {{ form.lastname(class_="form-control col-md-5")}}
            {%endif %}
          </div>
          <div class="form-group row">
            {{ form.username.label(class_="col-md-4 col-form-label
            text-md-right")}} {% if form.username.errors %}
            {{form.username(class="form-control col-md-5 is-invalid")}}
            <div class="invaild-feedback col-md-3 text-danger">
              {% for error in form.username.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% else %} {{ form.username(class_="form-control col-md-5")}} {%
            endif %}
          </div>
          <div class="form-group row">
            {{ form.email.label(class_="col-md-4 col-form-label
            text-md-right")}} {% if form.email.errors %}
            {{form.email(class="form-control col-md-5 is-invalid")}}
            <div class="invaild-feedback col-md-3 text-danger">
              {% for error in form.email.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% else %} {{ form.email(class_="form-control col-md-5")}} {% endif
            %}
          </div>
          <div class="form-group row">
            {{ form.password.label(class_="col-md-4 col-form-label
            text-md-right")}} {% if form.password.errors %}
            {{form.password(class="form-control col-md-5 is-invalid")}}
            <div class="invaild-feedback col-md-3 text-danger">
              {% for error in form.password.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% else %} {{ form.password(class_="form-control col-md-5")}} {%
            endif %}
          </div>
          <div class="form-group row">
            {{ form.confirm_password.label(class_="col-md-4 col-form-label
            text-md-right")}} {% if form.confirm_password.errors %}
            {{form.confirm_password(class="form-control col-md-5 is-invalid")}}
            <div class="invaild-feedback col-md-3 text-danger">
              {% for error in form.confirm_password.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% else %} {{ form.confirm_password(class_="form-control
            col-md-5")}} {%endif %}
          </div>
          <div class="form-group row">
            <div class="offset-md-4">
              {{ form.submit(class="btn btn-primary")}} Already have an Account?
              <a class="btn-link" href="{{url_for('users.login')}}"> Sign in</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
