{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Listening
                <a href="/listening/evaluate" class="btn btn-primary btn-sm float-right " onclick="return confirm('Are you sure to re evaluate study plan?')">Evaluate Improvement plan</a></h5>
                
        </div>
    </div>
    <div class=" mb-3 " >
        <div class="card-group">
            <div class="card  mb-3" style="background-color: #e3f2fd">
                <div class="card-header">Improvement Plan </div>
                <div class="card-body ">
                    <h5 class="card-title text-danger">{{ data.study_plan }}</h5>
                    <p class="card-text">This is the your Improvement plan</p>
                </div>
            </div>
            <div class="card  mb-3" style="background-color: #e3f2fd">
                <div class="card-header">Progress</div>
                <div class="card-body ">
                    <h5 class="card-title text-danger">{{ data.progress}}%</h5>
                    <p class="card-text">your current progress</p>
                </div>
            </div>
            <div class="card  mb-3" style="background-color: #e3f2fd">
                <div class="card-header">Weak section</div>
                <div class="card-body ">
                    <h5 class="card-title text-danger">{{data.weak_section}}</h5>
                    <p class="card-text">you need to pay more attention this section</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 bg-info">
        <div class="card-header text-light">
          <h5>User Improvement Plan</h5>
        </div>
        <div class="mt-1">
          <div class="card-body">
            <h6 class="card-text text-light">Improvment plan</h6>
                <div class="card" id="plan">
                </div>
          </div>
          <div class="card-body">
            <h6 class="card-text text-light">Quiz</h6>
                <div class="card" id="quiz">
                </div>
          </div>
          <div class="card-header text-light">
            <h5>Extra activities</h5>
          </div>
                
          <div class="card-body">
            <h6 class="card-text text-light">Lessons</h6>
            <div class=" card">
                <a href="/listening/lesson1" class="list-group-item list-group-item-action">Listening lesson 1</a>
                <a href="/listening/lesson2" class="list-group-item list-group-item-action">Listening lesson 2</a>
                <a href="/listening/lesson3" class="list-group-item list-group-item-action">Listening lesson 3</a>
            </div>
          </div>
                
          <div class="card-body">
            <h6 class="card-text text-light">Sections</h6>
            <div class="list-group card border-0">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="list-group-item list-group-item-action" data-toggle="collapse"
                                href="#collapseOne">
                                Section 1
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <a href="/listening/section1_1" class="list-group-item list-group-item-action">Section
                                    1 quiz 1</a>
                                <a href="/listening/section1_2" class="list-group-item list-group-item-action">Section
                                    1 quiz 2</a>
                                <a href="/listening/section1_3" class="list-group-item list-group-item-action">Section
                                    1 quiz 3</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="list-group-item list-group-item-action" data-toggle="collapse"
                                href="#collapseTwo">
                                Section 2
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <a href="/listening/section2_1" class="list-group-item list-group-item-action">Section
                                    2 quiz 1</a>
                                <a href="/listening/section2_2" class="list-group-item list-group-item-action">Section
                                    2 quiz 2</a>
                                <a href="/listening/section2_3" class="list-group-item list-group-item-action">Section
                                    2 quiz 3</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="list-group-item list-group-item-action" data-toggle="collapse"
                                href="#collapseThree">
                                Section 3
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <a href="/listening/section3_1" class="list-group-item list-group-item-action">Section
                                    3 quiz 1</a>
                                <a href="/listening/section3_2" class="list-group-item list-group-item-action">Section
                                    3 quiz 2</a>
                                <a href="/listening/section3_3" class="list-group-item list-group-item-action">Section
                                    3 quiz 3</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="list-group-item list-group-item-action" data-toggle="collapse"
                                href="#collapseFour">
                                Section 4
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <a href="/listening/section4_1" class="list-group-item list-group-item-action">Section
                                    4 quiz 1</a>
                                <a href="/listening/section4_2" class="list-group-item list-group-item-action">Section
                                    4 quiz 2</a>
                                <a href="/listening/section4_3" class="list-group-item list-group-item-action">Section
                                    4 quiz 3</a>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
          </div>    
        <div class="list-group" style="display:none" id="p1">
            <a href="/listening/plan1_1" class="list-group-item list-group-item-action">Listening stage 1
                step 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s11"></span></a>
            <a href="/listening/plan1_2" class="list-group-item list-group-item-action">Listening stage 1
                step 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s12"></span></a>
            <a href="/listening/plan1_3" class="list-group-item list-group-item-action">Listening stage 1
                step 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s13"></span></a>
            <a href="/listening/plan1_4" class="list-group-item list-group-item-action">Listening stage 1
                step 4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s14"></span></a>
            <a href="/listening/plan1_5" class="list-group-item list-group-item-action">Listening stage 1
                step 5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s15"></span></a>
        </div>
        <div class="list-group" style="display:none" id="p2">
            <a href="/listening/plan2_1" class="list-group-item list-group-item-action">Listening stage 2
                step 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s21"></span></a>
            <a href="/listening/plan2_2" class="list-group-item list-group-item-action">Listening stage 2
                step 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s22"></span></a>
            <a href="/listening/plan2_3" class="list-group-item list-group-item-action">Listening stage 2
                step 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s23"></span></a>
            <a href="/listening/plan2_4" class="list-group-item list-group-item-action">Listening stage 2
                step 4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s24"></span></a>
            <a href="/listening/plan2_5" class="list-group-item list-group-item-action">Listening stage 2
                step 5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s25"></span></a>
        </div>
        <div class="list-group" style="display:none" id="p3">
            <a href="/listening/plan3_1" class="list-group-item list-group-item-action">Listening stage 3
                step 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s31"></span></a>
            <a href="/listening/plan3_2" class="list-group-item list-group-item-action">Listening stage 3
                step 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s32"></span></a>
            <a href="/listening/plan3_3" class="list-group-item list-group-item-action">Listening stage 3
                step 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s33"></span></a>
            <a href="/listening/plan3_4" class="list-group-item list-group-item-action">Listening stage 3
                step 4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s34"></span></a>
            <a href="/listening/plan3_5" class="list-group-item list-group-item-action">Listening stage 3
                step 5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s35"></span></a>
        </div>
        <div class="list-group" style="display:none" id="p4">
            <a href="/listening/plan4_1" class="list-group-item list-group-item-action">Listening stage 4
                step 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s41"></span></a>
            <a href="/listening/plan4_2" class="list-group-item list-group-item-action">Listening stage 4
                step 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s42"></span></a>
            <a href="/listening/plan4_3" class="list-group-item list-group-item-action">Listening stage 4
                step 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s43"></span></a>
            <a href="/listening/plan4_4" class="list-group-item list-group-item-action">Listening stage 4
                step 4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s44"></span></a>
            <a href="/listening/plan4_5" class="list-group-item list-group-item-action">Listening stage 4 
                step 5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s45"></span></a>
        </div>
        <div class="list-group" style="display:none" id="p5">
            <a href="/listening/plan5_1" class="list-group-item list-group-item-action">Listening stage 5
                step 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s51"></span></a>
            <a href="/listening/plan5_2" class="list-group-item list-group-item-action">Listening stage 5
                step 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s52"></span></a>
            <a href="/listening/plan5_3" class="list-group-item list-group-item-action">Listening stage 5
                step 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s53"></span></a>
            <a href="/listening/plan4_4" class="list-group-item list-group-item-action">Listening stage 5
                step 4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s54"></span></a>
            <a href="/listening/plan4_5" class="list-group-item list-group-item-action">Listening stage 5
                step 5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="s55"></span></a>
        </div>
        <div  class="list-group" style="display:none" id="l1">
            {% for row in data.papers1 %}
                <a href="/listening/display_quiz/{{row[0]}}" class="list-group-item list-group-item-action">{{row[1]}}</a>
            {% endfor %}
        </div>
        <div  class="list-group" style="display:none" id="l2">
            {% for row in data.papers2 %}
                <a href="/listening/display_quiz/{{row[0]}}" class="list-group-item list-group-item-action">{{row[1]}}</a>
            {% endfor %}
        </div>
        <div  class="list-group" style="display:none" id="l3">
            {% for row in data.papers3 %}
                <a href="/listening/display_quiz/{{row[0]}}" class="list-group-item list-group-item-action">{{row[1]}}</a>
            {% endfor %}
        </div>
        <div  class="list-group" style="display:none" id="l1">
            {% for row in data.papers4 %}
                <a href="/listening/display_quiz/{{row[0]}}" class="list-group-item list-group-item-action">{{row[1]}}</a>
            {% endfor %}
        </div>
    </div>

</div>
</body>
<script>
    var studyPlan = '{{data.study_plan_no}}';
    if (studyPlan == 1) {
        document.getElementById('plan').innerHTML = document.getElementById('p1').innerHTML;
        document.getElementById('quiz').innerHTML = document.getElementById('l4').innerHTML;
    }
    else if (studyPlan == 2) {
        document.getElementById('plan').innerHTML = document.getElementById('p2').innerHTML;
        document.getElementById('quiz').innerHTML = document.getElementById('l4').innerHTML;
    }
    else if (studyPlan == 3) {
        document.getElementById('plan').innerHTML = document.getElementById('p3').innerHTML;
        document.getElementById('quiz').innerHTML = document.getElementById('l3').innerHTML;
    }
    else if (studyPlan == 4) {
        document.getElementById('plan').innerHTML = document.getElementById('p4').innerHTML;
        document.getElementById('quiz').innerHTML = document.getElementById('l2').innerHTML;
    }
    else if (studyPlan == 5) {
        document.getElementById('plan').innerHTML = document.getElementById('p5').innerHTML;
        document.getElementById('quiz').innerHTML = document.getElementById('l1').innerHTML;
    }
    

    var pid = '{{data.pid}}';
    if (pid == 11) {
        document.getElementById("s"+501).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
    }
    if (pid == 12) {
        document.getElementById("s"+501).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+502).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
    }
    if (pid == 13) {
        document.getElementById("s"+501).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+502).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+503).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
    }
    if (pid == 1) {
        document.getElementById("s"+11).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+21).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+31).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+41).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+51).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+501).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+502).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+503).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';

    }
    else if (pid == 2) {
        
        document.getElementById("s"+11).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+21).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+31).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+41).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+51).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+12).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+22).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+32).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+42).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+52).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+501).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+502).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+503).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
    }
    else if (pid == 3) {
        document.getElementById("s"+11).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+21).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+31).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+41).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+51).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+12).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+22).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+32).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+42).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+52).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+13).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+23).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+33).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+43).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+53).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+501).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+502).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+503).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
    }
    else if (pid == 4) {
        document.getElementById("s"+11).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+21).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+31).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+41).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+51).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+12).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+22).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+32).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+42).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+52).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+13).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+23).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+33).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+43).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+53).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+14).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+24).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+34).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+44).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+54).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+501).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+502).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+503).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
    }
    else if (pid == 5) {
        document.getElementById("s"+11).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+21).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+31).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+41).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+51).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+12).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+22).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+32).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+42).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+52).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+13).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+23).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+33).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+43).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+53).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+14).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+24).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+34).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+44).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+54).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+15).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+25).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+35).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+45).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+55).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+501).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+502).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';
        document.getElementById("s"+503).innerHTML='<img height=20px src="/static/images/correct.png" style="vertical-align:middle;" />';

    }
</script>
{% endblock content %}