{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Listening</h5>
        </div>
    </div>
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="audio_file">
                <audio controls>
                    <source src="/static/listening_audio/plan1.5.mp3" type="audio/mpeg">
                </audio>
            </div><br>
            <div class="card-body">
                <h6 class="card-title">
                    <p><strong>QUESTIONS 1-10</strong></p>
                    <p>Complete the notes below. </p>
                    <p>Write <strong>NO MORE THAN TWO WORDS </strong> for each answer.</p>
                </h6>
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="828" height="667" valign="top">
                            <p align="center"><strong>ADVERTISING EFFECT</strong></p>
                            <strong>The important factor to consider</strong>
                            <ul>
                                <li>The <strong>31.</strong>
                                    <input type="text" class="ex-input" style="width:120px" id="ex1"
                                        required="required" />
                                    customers must travel affects the probability that they will buy the product. <span
                                        id="s1"></span></li>
                            </ul>
                            <br />
                            <p><strong>Methods of communication</strong></p>
                            <ul>
                                <li>Advertising slogans are easier to remember if there is a <strong>32.</strong>
                                    <input type="text" class="ex-input" style="width:150px" id="ex2"
                                        required="required" />

                                    played with them. <span id="s2"></span></li>
                                </p>
                                <li>Mandy's Candy Store appeals to people's sense of <strong>33.</strong>
                                    <input type="text" class="ex-input" style="width:150px" id="ex3"
                                        required="required" />
                                    to draw in customers. <span id="s3"></span></li>
                                </p>
                                <li>To an ad campaign for digital products, it is <strong>34.</strong>
                                    <input type="text" class="ex-input" style="width:150px" id="ex4"
                                        required="required" />
                                    that is extremely important. <span id="s4"></span></li>
                            </ul>
                            <br />
                            <p><strong>Effect on your product sales</strong></p>
                            <ul>
                                <li>The customer's <strong>35.</strong>
                                    <input type="text" class="ex-input" style="width:150px" id="ex5"
                                        required="required" />
                                    after he or she experiences the ad is most important. <span id="s5"></span><br />
                                </li>
                            </ul>
                            <br />
                            <p><strong>Marketing strategies</strong></p>
                            <ul>
                                <li>On international flights, it is wise for the advertisement to be displayed in the
                                    common <strong>36.</strong>
                                    <input type="text" class="ex-input" style="width:150px" id="ex6"
                                        required="required" />
                                    of most passengers. <span id="s6"></span></li>
                                </p>

                                <li>Very few young people buy<strong> 37.</strong>
                                    <input type="text" class="ex-input" style="width:150px" id="ex7"
                                        required="required" />.
                                    <span id="s7"></span></li>
                                </p>
                                <li>The UNESCO website would be a good place to advertise for companies aiming to
                                    improve the <strong>38.</strong>
                                    <input type="text" class="ex-input" style="width:150px" id="ex8"
                                        required="required" />.
                                    <span id="s8"></span>
                                </li>
                                </p>
                                <li>One good location to place ads for sunscreen is the <strong>39.</strong>
                                    <input type="text" class="ex-input" style="width:150px" id="ex9"
                                        required="required" />.
                                    <span id="s9"></span></li>
                                </p>
                                <li>A good scene for a water purification commercial would be <strong>40.</strong>
                                    <input type="text" class="ex-input" style="width:150px" id="ex10"
                                        required="required" />.
                                    <span id="s10"></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <p><br />
                </p>
                <button id="b2" type="button" class="btn btn-outline-info" onclick="toggle() ">
                    <img height="25px" src="/static/images/show.png" style="vertical-align: middle" />Show
                    answers</button>
                <div id="answers" style="display:none;" class="hint">
                    <p><strong>ANSWERS</strong></p>
                    <p>Each question correctly answered scores 1 mark. <strong>Correct</strong> spelling is needed
                        in
                        all answers.
                    </p>
                    <ol start="1">
                        <li>Distance</li>
                        <li>Sound</li>
                        <li>Smell</li>
                        <li>Flexibility</li>
                        <li>Reaction</li>
                        <li>Languages</li>
                        <li>Newspaper</li>
                        <li>Environment</li>
                        <li>Swimming pool</li>
                        <li>National park</li>
                    </ol>

                </div>
            </div> <br /> <br />
            <div id="result" align="center"> </div>
            <button class="btn btn-primary btn-sm " type="button" onclick="check()">Check</button>
            <a href="/listening/progress1/5" class="btn btn-primary btn-sm ">Update progress</a>

        </div>
    </div>
</div>
</body>
<script>
    function check() {

        var ex1, score, result;
        score = 0;

        var ex = ["distance", "sound", "smell", "flexibility", "reaction", "languages", "newspaper", "environment", "swimming pool", "national park"];

        for (var i = 1; i < 11; i++) {
            text = "ex" + i;
            text2 = "s" + i;
            ex1 = document.getElementById(text).value;
            if (ex1.trim().toLowerCase() != ex[i - 1]) { document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/images/cross.png" />'; }
            else {
                document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/images/ok.png" />';
                score++;
            }
        }

        ex1 = document.getElementById("ex6").value;
        if (ex1.trim().toLowerCase() == "language") {
            document.getElementById("s7").innerHTML = '<img align="absmiddle" height=20px src="/images/ok.png" />';
            score++;
        }

        ex1 = document.getElementById("ex7").value;
        if (ex1.trim().toLowerCase() == "newspapers") {
            document.getElementById("s7").innerHTML = '<img align="absmiddle" height=20px src="/images/ok.png" />';
            score++;
        }


        setCookie("fourth", score, 3);

        document.getElementById("result").innerHTML =
            "<div class='result'>Your result for Section 4 is " + score + "/10 </div>";
    }



    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }
    function toggle() {
        var e = document.getElementById("answers");
        if (e.style.display == 'block') {
            document.getElementById("b2").innerHTML = ' <img height="25px" src="/static/images/show.png" style="vertical-align: middle"  /> Show answers';
            e.style.display = 'none';
        }
        else {
            document.getElementById("b2").innerHTML = '<img height="25px" src="/static/images/hide.png" style="vertical-align: middle"  /> Hide answers';
            e.style.display = 'block';
        }
    }
</script>
{% endblock content %}