{% extends 'layout.html' %} {% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Listening</h5>
        </div>
    </div>
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="audio_file">
                <audio controls>
                    <source src="/static/listening_audio/plan4.1.mp3" type="audio/mpeg">
                </audio>
            </div><br>
            <div class="card-body">
                <h6 class="card-title">
                    <p><strong>Questions 1-5</strong> </p>
                    <p>Complete the information below. Write <strong>NO MORE THAN ONE WORD OR A NUMBER</strong> for
                        each answer.</p>
                </h6>
                <table border="1" cellspacing="0" cellpadding="4" width="70%" align="center">
                    <tr>
                        <td colspan="2" valign="top">
                            <p align="center" style="font-weight:bold;">Apartment for rent</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="30%">
                            <p>Street</p>
                        </td>
                        <td valign="top" width="70%">
                            <p><u>Bridge</u> street</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>Street № </p>
                        </td>
                        <td valign="top">
                            <p><strong>(1)</strong> <input type="text" class="ex-input" style="width:120px" id="q1"
                                    required>
                                <span id="s1"> </span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>Included utilities</p>
                        </td>
                        <td valign="top">
                            <p>Gas, heat, water, <strong>(2)</strong> <input type="text" class="ex-input"
                                    style="width:120px" id="q2" required> <span id="s2"> </span>, phone</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>Not included utilities</p>
                        </td>
                        <td valign="top">
                            <p><strong>(3)</strong> <input type="text" class="ex-input" style="width:120px" id="q3"
                                    required> <span id="s3"> </span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>Public transport</p>
                        </td>
                        <td valign="top">
                            <p>Underground, <strong>(4)</strong> <input type="text" class="ex-input" style="width:120px"
                                    id="q4" required> <span id="s4"> </span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>Tenant’s name</p>
                        </td>
                        <td valign="top">
                            <p>John <strong>(5)</strong> <input type="text" class="ex-input" style="width:120px" id="q5"
                                    required>
                                <span id="s5"> </span></p>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <p><strong>Questions 6-8</strong> </p>
            <p> Choose <strong>THREE</strong> letters, <strong>A</strong>-<strong>F</strong>.</p>
            <p>Which <strong>THREE</strong> things should the caller bring to the meeting?</p>
            <ol type="A">
                <li> <input type="checkbox" id="ch11" /> Driving license <span id="s11"></span></li>
                <li> <input type="checkbox" id="ch12" value="1" /> Passport <span id="s12"></span></li>
                <li> <input type="checkbox" id="ch13" /> Tax bill <span id="s13"></span> </li>
                <li> <input type="checkbox" id="ch14" value="1" /> Employment contract <span id="s14"></span></li>
                <li> <input type="checkbox" id="ch15" value="1" /> Reference from a friend or colleague <span
                        id="s15"></span></li>
                <li> <input type="checkbox" id="ch16" /> Reference from an employer <span id="s16"></span></li>
            </ol>
            <br />
            <p><strong>Questions 9-10</strong> </p>
            <p>Choose the correct letters, <strong>A</strong>, <strong>B</strong>, or <strong>C</strong>.</p>
            <p><strong>9.</strong> What time do the caller and apartment manager decide to meet? <span id="s9"></span>
            </p>
            <ol type="A">
                <li><input type="radio" name="q9" value="a"> 5:30 PM</li>
                <li><input type="radio" name="q9" value="b"> 6:00 PM</li>
                <li><input type="radio" name="q9" value="c" id="a9"> 6:30 PM</li>
            </ol>
            <p><strong>10.</strong> Where do they decide to meet? <span id="s10"></span></p>
            <ol type="A">
                <li><input type="radio" name="q10" value="a"> Near the manager’s apartment</li>
                <li><input type="radio" name="q10" value="b" id="a10"> At the caller’s future apartment </li>
                <li><input type="radio" name="q10" value="c"> At the office</li>
            </ol>
        </div>
        <br />

        <button id="b2" type="button" class="btn btn-outline-info" onclick="toggle() ">
            <img height="25px" src="/static/images/show.png" style="vertical-align: middle" />Show answers</button>

        <div id="answers" style="display:none;" class="hint">
            <p><strong>ANSWERS</strong></p>
            <p>Each question correctly answered scores 1 mark. <strong>Correct</strong> spelling is needed in all
                answers.
            </p>
            <p><strong>Section 1</strong></p>
            <ol>
                <li>32</li>
                <li>electricity</li>
                <li>Internet</li>
                <li>bus</li>
                <li>Hooper</li>
                <li>B</li>
                <li>D</li>
                <li>E</li>
                <li>C</li>
                <li>B</li>
            </ol>
            <ol>

            </ol>
        </div> <br /> <br />
        <div id="result" align="center"> </div>

        <div align="center">
            &emsp;

            <button class="btn btn-primary btn-sm " type="button" onclick="check()">Check</button>
            <a href="/listening/progress1/1" class="btn btn-primary btn-sm ">Update progress</a>

        </div>
    </div>
</div>
</body>
<script>
    function check() {

        var ex1, q2, ex3, q4, q5, score;
        score = 0;
        q1 = document.getElementById("q1").value;
        if (q1.trim().toLowerCase() != "32") { ; document.getElementById("s1").innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
        else { document.getElementById("s1").innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }

        q2 = document.getElementById("q2").value;
        if (q2.trim().toLowerCase() != "electricity") { ; document.getElementById("s2").innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
        else { document.getElementById("s2").innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }


        q3 = document.getElementById("q3").value;
        if (q3.trim() != "Internet") { ; document.getElementById("s3").innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
        else { document.getElementById("s3").innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }


        q4 = document.getElementById("q4").value;
        if (q4.trim().toLowerCase() != "bus") { ; document.getElementById("s4").innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
        else { document.getElementById("s4").innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }


        q5 = document.getElementById("q5").value;
        if (q5.trim() != "Hooper") { ; document.getElementById("s5").innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />'; }
        else { document.getElementById("s5").innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }


        for (var i = 11; i < 17; i++) {
            document.getElementById('s' + i).innerHTML = '';
            text = 'ch' + i;
            if (document.getElementById(text).checked == true) {
                if (document.getElementById(text).value == 1) { document.getElementById('s' + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png" />'; score++; }
                else document.getElementById('s' + i).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png" />';
            }
        }


        for (var i = 9; i < 11; i++) {
            text = "a" + i; text2 = "s" + i;
            if (document.getElementById(text).checked == true) {
                document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/static/images/correct.png"  />';
                score++;
            }
            else { ; document.getElementById(text2).innerHTML = '<img align="absmiddle" height=20px src="/static/images/wrong.png"  />'; }
        }


        removeCookie("first");
        removeCookie("second");
        removeCookie("third");
        removeCookie("fourth");
        setCookie("first", score, 3);


        document.getElementById("result").innerHTML =
            "<div class='result'>Your result for this quiz " + score + "/10 </div>";
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function removeCookie(szName) {
        document.cookie = szName + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    }


    function toggle() {
        var e = document.getElementById("answers");
        if (e.style.display == 'block') {
            document.getElementById("b2").innerHTML = ' <img height="25px" src="/static/images/show.png" style="vertical-align: middle"  /> Show answers';
            e.style.display = 'none';
        }
        else {
            document.getElementById("b2").innerHTML = '<img height="25px" src="/static/images/hide.png" style="vertical-align: middle"  /> Hide answers';
            e.style.display = 'block';
        }
    }
</script>
{% endblock content %}