<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/reading_test_paper.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <body>
        <div class="container mt-3">
          <div class="card mb-3 sticky-top">
            <div class="card-header">
              <h5>Reading
                <p class="float-right" style="font-weight: bold" id="quiz-time-left"></p>
              </h5>
            </div>
          </div>
        <div class="card mt-3 mb-3">
            <div class="card-header">
			<!-- section 2 exam paper-->
                <h6>Reading Section 3</h6>

                <b>Questions 28-33</b><br>
                <i>Do the following statements agree with the information given in Reading Section
                    3?</i>
            </div><br><br>
            <div class="card-body">
                <h6 class="card-title">
                    <b>Time Travel</b></h6>
                <p>Time travel took a small step away from science fiction and towards science recently when physicists
                    discovered that sub-atomic particles known as neutrinos - progeny of the sun's radioactive debris -
                    can
                    exceed the speed of light. The unassuming particle it is electrically neutral, small with a
                    “non-zero mass’
                    and able to penetrate the human form undetected is on its way to becoming a rock star of the
                    scientific
                    world</p>
                <p>Researchers from the European Organization for Nuclear Research (CERN) in Geneva set the neutrinos
                    hurting
                    through an underground corridor towards their colleagues at the Oscillation Project with
                    emulsion-Tracing
                    Apparatus (OPERA) team 730 kilometres away in gran Sasso, Italy, The neutrinos arrived promptly – so
                    promptly, in fact, that they triggered what scientists are calling the ‘unthinkable’ – that
                    everything have
                    learnt, known or taught stemming from the last one hundred years of the physics discipline may need
                    to be
                    reconsidered.</p>
                <p>The issue at stake is a tiny segment of time - precisely sixty nanoseconds (which is sixty billionths
                    of a
                    second). This is how much faster than the speed of light the neutrinos Managed to go in their
                    underground
                    travels and at a Consistent rate (15,000 neutrinos were sent over three years), Even allowing for a
                    margin
                    of error of ten billionths of @ second, this stands as proof that it is possible to race against
                    light and
                    win. The duration of the experiment also accounted for and ruled out any possible lunar effects or
                    tidal
                    bulges in the earth's crust.</p>
                <p>Nevertheless, there’s plenty of reason to remain sceptical. According to Harvard university science
                    historian
                    Peter Galison, Einstein’s relativity theory has been “pushed harder than any theory in the history
                    of the
                    physical science” Yest each prior challenge has come to no avail, and relatively has so far refused
                    to
                    buckle.</p>
                <p>So is time travel just around the corner? The prospect has certainly been wrenched much closer to the
                    realm
                    of possibility now that a major physical hurdle - the speed of the ,light - has been cleared. If
                    particles
                    can travel faster than light, in theory, travelling back in time is possible. How anyone harnesses
                    that to
                    some kind of helpful end is far beyond the scope of any modern technologies, however, and will be
                    left to
                    future generations to explore.</p>
                <p>Certainly, any prospective time travellers may have to overcome more physical and logical hurdles
                    than merely
                    overtaking the speed of light. One such problem, posited by René Barjavel in his 1943 text Le
                    Voyageur
                    Imprudent is the so-called grandfather paradox. Barjavel theorised that, if it were possible to go k
                    in
                    time, a time traveller could potentially kill his own g ndfather. If this were to happen, however,
                    the time
                    traveller himself would not be born, which is already known to be true. In other words, there is a
                    Paradox
                    in circumventing an already known future, time travel is able to facilitate past actions that mean
                    time
                    travel</p>
                <p>Other possible routes have been offered, through. For lgor Novikov, astrostrophysicist behind the
                    1980’s
                    theorem known as the self-consistency principle, time travel is possible within certain boundaries.
                    Novikov
                    argued that any event causing a paradox would have zero probability. It would ‘however, to “affect”
                    rather
                    than “change” nistoneatot 0 n if travellers avoided all inconsistencies. Averting the sinking of the
                    Titanic, for example, would revoke any future imperative to stop it from sinking - it would be
                    impossible.
                    Saving selected passengers from the water and replacing them with realistic corpses would not be
                    impossible,
                    however, as the historical record would not be altered in any way. </p>
                <p>A further possibility is that of parallel universes. Popularised by Bryce Seligman DeWitt in the
                    1960s (from
                    the seminal formulation of Hugh Everett), the many-worlds interpretation holds that an altemative
                    pathway
                    for every conceivable occurrence actually exists. If we were to send someone back in time, we might
                    therefore expect never to see him again - any alterations would divert that person down a new
                    historical
                    trajectory.</p>
                <p>A final hypoth of unidentified provenance, re-routes: itself quite efficiently around the grandfather
                    paradox.Non-existence theory suggests exactly that - a person would quite simply never exist if they
                    altered
                    their ancestry in ways that obstructed their own birth. They would still exist in person upon
                    returning to
                    the present, but any chain reactions associated with their actions would not be registered. Their
                    “historical identity” would be gone.</p>
                <p>So, will humans one day step across the same boundary that the neutrinos have? World - renowned
                    astrophysicist Stephen Hawking believes that once spaceships can exceed the speed of light, humans
                    could
                    feasibly travel millions of years into the future in order to repopulate earth in the event of a
                    forthcoming
                    apocalypse. This is because as the spaceships accelerate into the future, time would slow down
                    around them
                    (Hawking concedes that bygone eras are off limits - this would violate the fundamental rule that
                    cause comes
                    before effect).</p>
                <p>Hawking is therefore reserved yet optimistic. “Time trave; was considered scientific heresy. And I
                    used to
                    avoid talking about it for fear of being labelled crank. These days I’m not so causious ”</p>

                <table class="table1">
                    <tr>
                        <td>
                            <p><b>TRUE</b></p>
                        </td>
                        <td>If the statement agrees with the information</td>
                    </tr>
                    <tr>
                        <td><br>
                            <p><b>FALSE</b></p>
                        </td>
                        <td>If the statement contradicts the information</td>
                    </tr>
                    <tr>
                        <td><br>
                            <p><b>NOT GIVEN</b></p>
                        </td>
                        <td>If there is no information on this</td>
                    </tr>
                </table>
                <form action="/reading_section3" method="post" id="sect3">
                    <table class="table1">
                        <tr>
                            <td><br>
                                <p><b>28.</b>. It is unclear where neutrinos come from </p>
                            </td>
                            <td><input type="text" name="q28" id="q28"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>29.</b> . Neutrinos can pass through a person’s body without causing harm</p>
                            </td>
                            <td><input type="text" name="q29" id="q29"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>30.</b> . . It took scientists between 50-70 nanoseconds to send the neutrinos
                                    from Geneva to Italy </p>
                            </td>
                            <td><input type="text" name="q30" id="q30"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>31.</b> Researchers accounted for effects the moon might have had on the
                                    experiment</p>
                            </td>
                            <td><input type="text" name="q31" id="q31"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>32.</b> The theory of relatively has often been called into question
                                    unsuccessfully</p>
                            </td>
                            <td><input type="text" name="q32" id="q32"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>33.</b>This experiment could soon lead to some practical uses for time travel
                                </p>
                            </td>
                            <td><input type="text" name="q33" id="q33"></td>
                        </tr>
                    </table>
                    <b>Questions 34-39</b><br>
                    <b>Complete the table below.</b>
                    <i>Choose <b>NO MORE THAN THREE WORDS</b> from the passage for each answer.</i><br><br>
                    <table class="table table-bordered">
                        <tr>
                            <td>Original theorist</td>
                            <td>Theory</td>
                            <td>Principle</td>
                        </tr>
                        <tr>
                            <td>
                                <p>Rene barjavel</p>
                            </td>
                            <td>
                                <p>Grandfather paradox</p>
                            </td>
                            <td>Time travel would allow for<b>34.</b><input type="text" name="q34" id="q34">.that
                                would be actually make time travel
                                impossible.</td>
                        </tr>
                        <tr>
                            <td>Igor Novikov</td>
                            <td>Self-consistency principal
                            <td>It is only possible to alter history<b>35.</b><input type="text" name="q35" id="q35">.
                                in a ways
                                that result in number. </td>
                        </tr>
                        <tr>
                            <td><b>36.</b><input type="text" name="q36" id="q36"></td>
                            <td>Many-worlds interpretation</td>
                            <td>Each possible event has <b>37.</b> <input type="text" name="q37" id="q37">.,So a
                                time traveler changing the past would simply
                                end up in a different branch of history than the one he left.</td>
                        </tr>
                        <tr>
                            <td>Unknown</td>
                            <td><b>38.</b><input type="text" name="q38" id="q38"></td>
                            <td>If time traveller change the past two prevent his future live, he would not have a
                                <b>39.</b><input type="text" name="q39" id="q39">as the person never exsisted.</td>
                        </tr>
                    </table>
                    <b>Question 40</b><br>
                    <b>Choose the correct letter A, B, C or D</b>
                    <i>Select the correct letter for the question 40.</i><br><br>

                    <p><b>40</b> According to speaker, one problem with the new regulation will be</p>

                    <label>A</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="a" name="q40" value="A">
                    <label for="q40">Human time travel is theoretically possible, but is unlikely to ever
                        actually occur.</label><br>

                    <label>B</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="b" name="q40" value="B">
                    <label for="q40">Human time travel might be possible, but only moving backward in
                        time</label><br>

                    <label>C</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="c" name="q40" value="C">
                    <label for="q40">Human time travel might be possible, but only moving forward in time.</label><br>

                    <label>D</label>&nbsp&nbsp&nbsp&nbsp<input type="radio" id="d" name="q40" value="D">
                    <label for="q40">All the time travel is impossible.</label>
                    <input type="hidden" id="q040" name="q040" value="">
                    <br>
                    <div class="card-footer text-muted text-right">
                        <input type="submit" value="Save Your answer" id="reading_section3" name="reading_section3" onclick="SubmitFunction();"
                            class="btn btn-primary btn-sm" />
                    </div>
                </form>
            </div>
        </div> <!-- end of section 3 -->
    </div>
</body>
<script>
    var div = document.getElementById('quiz-time-left');
  
    function CountDown(duration, display) {
  
      var timer = duration, minutes, seconds;
  
      var interVal = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);
  
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        display.innerHTML = "<b>" + minutes + "m : " + seconds + "s" + "</b>";
        if (timer > 0) {
          --timer;
        } else {
          clearInterval(interVal)
          SubmitFunction();
        }
  
      }, 1000);
  
    }
  
    function SubmitFunction() {
      var i, mcq;
      var form_elements = document.getElementById('sect3').elements;
      for (i = 40; i < 41; i++) {
        var mcq = form_elements['q' + i].value;
        if (mcq == "") {
          document.getElementById("q0" + i).value = 'Not answered';
        }
        else {
          document.getElementById("q0" + i).value = mcq;
        }
      }
      for (i = 28; i < 40; i++) {
        var ans = document.getElementById('q' + i).value;
        if (ans == "") {
          document.getElementById("q" + i).value = 'Not answered';
        }
      }
      document.getElementById('sect3').submit();
  
    }
    CountDown(600, div);
  
  </script>
</html>