<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/reading_test_paper.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <body>
        <div class="container mt-3">
          <div class="card mb-3 sticky-top">
            <div class="card-header">
              <h5>Reading
                <p class="float-right" style="font-weight: bold" id="quiz-time-left"></p>
              </h5>
            </div>
          </div>
        <div class="card mt-3 mb-3">
            <div class="card-header">
			
				<!-- section 2 exam paper-->
                <h6>Reading Section 2</h6>
                <b>Question 1-10</b>
                <i>You should spend about 20 minutes on Questions 14-27, which are based on Reading Section 2
                    below.</i>
            </div><br><br>
            <div class="card-body">
                <h6 class="card-title">
                    <b>Fair Games</b></h6>
                <p>For seventeen days every four years the world is briefly arrested by the captivating, dizzying
                    spectacle of athleticism, ambition, pride and celebration on display at Summer Olympic Games.
                    After the last weary spectators and competitors have retuned home, however, hist cities are
                    often left awash in high debts and costly infrastructure maintenance. The staggering expenses
                    Involved in a successful Olympic bid are often assumed to be easily mitigated by tourist
                    revenues and an Increase in local employment. but mom often than not host cities are short
                    changed and their taxpayers for generations to come are left settling the debt.</p>

                <p>Olympic extravagances begin with the application process. Bidding alone will set most cities back
                    about $20 million, and while officially bidding only takes two year (for cities that make the
                    shortlist), most cities can expect to exhaust a decade working on their bid from the moment it
                    is initiated to the announcement of voting results from International Olympic Committee members.
                    Aside from the financial costs of the bid alone, the process ties up real estate in prized urban
                    locations until the outcome is known This can cost local economies millions of dollars of lost
                    revenue from private developers who could have made use of the land, and can also mean that
                    particular urban quarters lose their vitality due to the vacant lots. All of this can be for
                    nothing if a bidding ply does not appease the whims of IOC members - private connections and
                    opinions on government conduct often hold sway (Chicago's 2012 bid is thought to have been
                    undercut by tensions over U.S foreign policy).</p>
                <p>Bidding costs do not compare, however, to the exorbitant bits that come with hosting the Olympic
                    Games themselves. As is typical with large-scale. one-off projects, budgeting for the Olympics
                    is a notoriously formidable task. Los Angelinos have only recently finished paying off their
                    budget-breaking 1984 Olympics; Montreal is still in debt for its 1976 Games (to add insult to
                    injury, Canada is the only host country to have failed to win a single gold medal during Its own
                    Olympics). The tradition of runaway expenses has persisted in recent years. London Olympics
                    managers have admitted that their 2012 costs may increase ten limes over their initial
                    Infections, leaving tax payers 20 billion pounds in the red.</p>
                <p>Hosting the Olympics is often understood to be an excellent way to update a city's sporting
                    infrastructure. The extensive demands of Olympic sports include aquatic complexes. equestrian
                    circuits, shooting ranges, beach volleyball courts, and, of course, an 80.000 seat athletic
                    stadium. Yet these demands are typically only necessary to accommodate a brief influx of
                    athletes from around the world. Despite the enthusiasm many populations initially have for the
                    development of world-class sporting complexes in their home towns, these complexes typically
                    fall into disuse after the Olympic fervour has wanted. Even Australia, home to one the world’s
                    most sportive populations, has left its taxpayers footing a $32 million-a-year bill for the
                    maintenance of vacant facilities.</p>
                <p>Another major concern is that when civic infrastructure developments ale undertaken in
                    preparation for hosting the Olympics. those benefit. accrue to a single metropolitan center
                    (with the exception of some outlying areas that may get some revamped sport facilities). In
                    countries with an expensive land mass, this means vast swathes of the population miss out
                    entirely. Furthermore, since the International Olympic Committee favours prosperous “global”
                    centres (the United Kingdom was told. after mote failed bids from its provincial Dues that only
                    London stood any real chance at winning), the improvement of public transport. roads and
                    communication links tends to concentrate in places already well-equipped with world-class
                    infrastructures Perpetually by-passing minor cities creates a cycle of disenfranchisement. these
                    cities never get an injection of capital. they fail to become first-rate candidates, and they
                    are constantly passed over in favour of more secure choices.</p>
                <p>Finally. there is no guarantee that an Olympics will be a popular success. The 'feel good' factor
                    that most proponents of Olympic bids extol (and that was no doubt driving the 90 to 100 per cent
                    approval rates of Parisians and Londoners for their cities' respective 2012 bids) can be an
                    elusive phenomenon, and one that is tied to that nation's standing on the medal tables. This
                    ephemeral thrill cannot compare to the year of disruptive construction projects and security
                    fears that go into preparing for the Olympic Games. nor the decades of debt repayment that
                    follow (Greece's preparation for Athens 2004 famously deterred tourists from visiting the
                    country due to widespread unease about congestion and disruption).</p>
                <p>There are feasible alternatives to the bloat, extravagance and wasteful spending that comes with
                    the modern Olympic Games. One option is to designate a permanent host city that would be
                    re-designed or built from scratch especially for the task Mother is to extend the duration of
                    the Olympics so that it becomes a festival of several months. Local businesses would enjoy the
                    extra spending and congestion would ease substantially as competitors and spectators come and go
                    according to their specific interests. Neither the 'Olympic City' nor the extended length
                    options really get to the heart of the issue, however Stripping away ritual and decorum in
                    favour of concentrating on athletic rivalry would be preferable.</p>
                <p>Fading that, the Olympic could simply be scrapped altogether. International competition could
                    still be maintained through world championship in each discipline. Most of these events are
                    already held on non-Olympic years anyway – the international Association of Athletics
                    Federation, for example, has run a biennial World Athletics Championship since 1983 after
                    members decided that using the Olympics for their championship was no longer Sufficient Events
                    of this nature keep world-class competition alive without requiring Olympic-sized expenses.</p>
                <form action="/reading_section2" method="post" id="sect2">
                    <b>Questions 14-18 </b><br>
                    <i>Match each sentence with the correct ending, A-K, below
                        Write the correct letter, A-K, for question 14-18 in the space given.</i>
                    <br>
                    <table class="table1">
                        <tr>
                            <td><br>
                                <p><b>14.</b> Birds to become a host city</p>
                            </td>
                            <td><input type="text" name="q14" id="q14"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>15.</b> Personal relationships and political tensions </p>
                            </td>
                            <td><input type="text" name="q15" id="q15"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>16.</b> Cost estimates for the Olympic Games</p>
                            </td>
                            <td><input type="text" name="q16" id="q16"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>17.</b> Purpose-built sporting venues</p>
                            </td>
                            <td><input type="text" name="q17" id="q17"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>18.</b> Urban developments associates with the Olympics</p>
                            </td>
                            <td><input type="text" name="q18" id="q18"></td>
                        </tr>
                    </table><br><br>
                    <div class="table1">
                        <p><b>A.</b>Often help smaller cities to develop basic infrastructure.</p>
                        <p><b>B.</b>Tend to occur in areas where they are least needed.</p>
                        <p><b>C.</b>.Require profitable companies to be put out of business.</p>
                        <p><b>D.</b>Require profitable companies to be put out of business.</p>
                        <p><b>E.</b>Can take up to ten years to complete.</p>
                        <p><b>F.</b>Also satisfy needs of local citizens for first-rate sports facilities.</p>
                        <p><b>G.</b>Are ustially only successful when itis from a capital city.</p>
                        <p><b>H.</b>Are closely related to how people feel emotionally about the Olympics.</p>
                        <p><b>I.</b>Are known for being very inaccurate.</p>
                        <p><b>J.</b>Often underline the decisions of international Olympic Committee members.</p>
                        <p><b>K.</b>Are hoiding back efforts to reform the Olympics.</p>
                    </div>
                    <br><br>
                    <b>Questions 19-25</b><br>
                    <i>Do the following statements agree with the information given in reading section 2?<br>
                        In the spaces 19-25, write</i><br><br>
                    <table class="table1">
                        <tr>
                            <td>
                                <p><b>TRUE</b></p>
                            </td>
                            <td>If the statement agrees with the information</td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>FALSE</b></p>
                            </td>
                            <td>If the statement contradicts the information</td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>NOT GIVEN</b></p>
                            </td>
                            <td>If there is no information on this</td>
                        </tr>
                    </table><br><br>

                    <table>
                        <tr>
                            <td><br>
                                <p><b>19.</b>Residents of host cities have little use for the full range of
                                    Olympic
                                    facilities </p>
                            </td>
                            <td><input type="text" name="q19" id="q19"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>20.</b> Australians have still not paid for the construction of
                                    Olympic
                                    facilities </p>
                            </td>
                            <td><input type="text" name="q20" id="q20"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>21.</b> . People for beyond the host city can expect to benefit from
                                    the
                                    improved infrastructure </p>
                            </td>
                            <td><input type="text" name="q21" id="q21"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>22.</b> . It is difficult for small cities to win an Olympic bid.</p>
                            </td>
                            <td><input type="text" name="q22" id="q22"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>23.</b> When the city makes an Olympic bid, the majority of its
                                    citizens
                                    usually want it to win</p>
                            </td>
                            <td><input type="text" name="q23" id="q23"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>24.</b>Whether or not people enjoy hosting the Olympics in their city
                                    depends
                                    on how athletes from their country perform in the Olympic events</p>
                            </td>
                            <td><input type="text" name="q24" id="q24"></td>
                        </tr>
                        <tr>
                            <td><br>
                                <p><b>25.</b>Fewer people than normal visited Greece during the run up to
                                    the Athens Olympics</p>
                            </td>
                            <td><input type="text" name="q25" id="q25"></td>
                        </tr>
                    </table><br><br>

                    <b>Questions 26-27</b><br><br>
                    <i>*Which TWO of the following does the author propose as alternative to the current
                        Olympics?</i><br><br>
                    <div class="table1">
                        <P><B>26.</B><input type="text" name="q26" id="q26"></P>
                        <P><B>27.</B><input type="text" name="q27" id="q27"></P><BR>
                        <p><b>A.</b>The Olympics should be cancelled in favour of individual competitions for each
                            sport.</p>
                        <p><b>B.</b>The Olympics should focus on ceremony rather than competition.</p>
                        <p><b>C.</b>The Olympics should be held in the same city every time.</p>
                        <p><b>D.</b>The Olympics should be held over a month rather than seventeen days.</p>
                        <p><b>E.</b>The Olympics should be made smaller by getting rid of unnecessary and unpopular
                            sports.</p><br><br>
                    </div>
                    <div class="card-footer text-muted text-right">
                        <input type="submit" value="Save Your answer" id="reading_section2" name="reading_section2" onclick="SubmitFunction();"
                            class="btn btn-primary btn-sm" />
                    </div>
                </form>
            </div>
        </div> <!-- end of section 2 -->
    </div>
</body>
<script>
    var div = document.getElementById('quiz-time-left');
  
    function CountDown(duration, display) {
  
      var timer = duration, minutes, seconds;
  
      var interVal = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);
  
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        display.innerHTML = "<b>" + minutes + "m : " + seconds + "s" + "</b>";
        if (timer > 0) {
          --timer;
        } else {
          clearInterval(interVal)
          SubmitFunction();
        }
  
      }, 1000);
  
    }
    function SubmitFunction() {
      var i, mcq;
      var form_elements = document.getElementById('sect2').elements;

      for (i = 14; i < 28; i++) {
        var ans = document.getElementById('q' + i).value;
        if (ans == "") {
          document.getElementById("q" + i).value = 'Not answered';
        }
      }
      document.getElementById('sect2').submit();
  
    }
    CountDown(600, div);
  
  </script>
</html>